---
import MiDramaMarkdown from '../../content/farsantes-y-ladrones.md';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dramas Fading Suns</title>
	</head>
	<body>
    <main>
      <MiDramaMarkdown />
    </main>
	</body>
</html>

<style>
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  main h1 {
    color: #333;
  }
  main p {
    line-height: 1.6;
  }
</style>
