---
import "../global.css";
import CampaignHeader from "../../components/campaign-header.astro";
import Exposition from "../../components/farsantes-y-ladrones/exposition.astro";
import Sidebar from "../../components/farsantes-y-ladrones/sidebar.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Dramas de Rol en español</title>
  </head>
  <body>
    <Sidebar />
    <div class="pl-80">
      <CampaignHeader title="Farsantes y Ladrones" game="Fading Suns" />

      <main class="relative p-5 flex gap-5">
        <Exposition />
      </main>
    </div>
  </body>
</html>
