<section class="prose mt-8">
  <article>
    <h1 id="acto-3">Acto 3: Confrontación Final</h1>

    <p>
      Habiendo descubierto que los "Avestites" estaban detrás del asesinato del
      obispo Benedict y habiendo ayudado a los habitantes y gremios de Ruthwyck
      a defenderse del ataque incendiario de los pirómanos, la compañía se
      convierte en héroes celebrados. Pero el trabajo de los benefactores nunca
      termina y pronto se encuentran reclutados para una caza encubierta en el
      sistema Hargard.
    </p>
  </article>

  <article id="escena-11">
    <h2>Escena 11: Alianza Secreta</h2>

    <p>
      Qué: La compañía une fuerzas con los Killroys para enfrentarse al
      Colectivo Melena Sangrienta.
    </p>

    <p>Quién: Capitán Uwe Rand (o su siguiente al mando superviviente).</p>

    <p>Dónde: Entre las ruinas humeantes de Ruthwyck.</p>

    <p>
      Con la Batalla de Ruthwyck terminada y las celebraciones en marcha, la
      compañía es abordada por el Charioteer de mayor rango superviviente. Ella
      pregunta por su estado de salud antes de hacerles una oferta.
    </p>

    <p>
      "Para proteger a mis agentes, no puedo revelar nuestra identidad. Basta
      decir que trabajamos para proteger el comercio y la civilización, y los
      piratas ocupan un lugar muy alto en nuestra lista negra. Estos piratas en
      particular, el Colectivo Melenasangrienta, también son secuestradores y
      traficantes de esclavos, raptando a gente decente —incluso miembros de
      gremios y nobles— y poniéndolos a trabajar en su guarida estelar.
    </p>

    <p>
      "Han demostrado ser invaluables contra ellos aquí en Ruthwyck, y hemos
      escuchado sus nombres mencionados favorablemente en otros aspectos
      también. Espero que acepten unir fuerzas para destruir al Colectivo Melena
      Sangrienta.
    </p>

    <p>
      "Por temor a que los informantes de Melena Sangrienta les avisen, debemos
      actuar de forma encubierta y sin ningún apoyo oficial. Nosotros tenemos la
      inteligencia y las naves —incluyendo tres naves de batalla— para evitar
      que escapen, mientras que ustedes tienen el coraje y la habilidad para
      conquistar su base.
    </p>

    <p>
      "En cuanto a la recompensa, son libres de reclamar cualquier botín pirata
      que puedan como reparaciones, excepto la propiedad robada a la Liga.
      Además, nuestros enemigos tienen recompensas por sus cabezas: Barabbash,
      su líder, vale 5000 firebirds. Sus lugartenientes valen 1000 cada uno, y
      sus soldados rasos 100 por cabeza. Además, puedo garantizar la gratitud
      eterna del Gremio de Charioteers si nos ayudan, lo cual deberían reconocer
      como más valioso que cualquier recompensa financiera. Por supuesto, les
      prestaremos todo el equipo que podamos, también, incluyendo trajes
      espaciales blindados, escudos electrónicos, láseres y Elixires."
    </p>

    <p>
      Si la compañía no acepta, los Killroys les darán unas horas para pensarlo
      antes de buscar ayuda en otro lugar. Cazar a los piratas sin la ayuda
      inmediata de la compañía llevará mucho más tiempo; sería dramáticamente
      apropiado que la compañía sufriera problemas personales con los piratas
      mientras tanto.
    </p>
  </article>

  <article id="el-plan">
    <h3>El Plan</h3>

    <p>
      Tras analizar los patrones de ataque y los vectores de las naves, los
      Killroys conocen la ubicación general de la Villa Celestia. El sitio se
      encuentra dentro de una familia de asteroides espaciales de Hargard
      conocida como el Cúmulo de Norn, situada entre los mundos exteriores de
      Aesir y Diyan Dine'e.
    </p>

    <p>
      Buscar en el Cúmulo de Norn alertaría sin duda a los piratas, así que en
      su lugar los Charioteers planean capturar una pequeña nave de exploración
      del Colectivo Melena Sangrienta que han descubierto anclada frecuentemente
      en un asteroide flotante. A la deriva cerca de las rutas espaciales
      comunes alrededor de Hargard, escuchando las comunicaciones de radio y
      escaneando pasivamente las naves que pasan, esta nave de exploración se
      utiliza para seleccionar los objetivos de los piratas. Usando sus escoltas
      sigilosas, los Charioteers se acercarán lo suficiente para sorprender a
      los exploradores, bloqueando sus radios y desembarcando a la compañía para
      que se abalancen y se apoderen de la nave.
    </p>

    <p>
      Utilizando la nave capturada, la compañía (asistida por un piloto
      Charioteer si es necesario) se infiltrará en la Villa Celestia para
      sabotear sus escudos y desorganizar sus defensas. Mientras tanto, las
      naves de los Charioteers enfrentarán a la flotilla de Melena Sangrienta
      para evitar su escape, y juntos ellos y la compañía acabarán con los
      piratas. "Es un plan arriesgado, pero con sigilo y una ejecución soberbia,
      deberíamos poder prevalecer."
    </p>
  </article>

  <article id="escena-12">
    <h2>Escena 12: Abordaje</h2>

    <p>Qué: La compañía aborda una nave pirata en el espacio profundo.</p>

    <p>Quién: Piratas menores.</p>

    <p>Dónde: Un asteroide sin nombre en las profundidades del espacio.</p>

    <p>
      La nave de exploración objetivo es una pequeña nave exploradora de la
      Liga, modificada y construida para el transporte y la aventura más que
      para el combate. Los piratas la han equipado con mejores sensores,
      amortiguadores de silueta y un buen camuflaje visual a la antigua. Aunque
      puede ofrecer poca resistencia en batalla, podría advertir fácilmente a
      Villa Celestia si se la ataca abiertamente.
    </p>

    <p>
      El par de escoltas modificadas de los Killroy se acerca sigilosamente bajo
      la cobertura de su tecnología furtiva y deshabilita las comunicaciones y
      sensores de la nave pirata. A continuación, la compañía, usando el equipo
      prestado por los Charioteers, desciende flotando al asteroide y asalta a
      los piratas varados.
    </p>

    <p>
      Es un combate directo (para gravedad cero), pero los tres piratas luchan
      valientemente para restablecer las comunicaciones con su base principal.
      Sin embargo, una vez que nuestros héroes entran en su nave, los piratas se
      rinden rápidamente y piden la paz.
    </p>

    <p>
      "¡Piedad, por favor!", suplican. "No tuvimos más remedio que unirnos al
      Colectivo Melena Sangrienta. ¡Barabbash tiene a nuestras familias como
      rehenes!" Si la compañía jura proteger y liberar a sus seres queridos, los
      piratas vencidos ofrecen su apoyo e inteligencia total para derrocar a
      Barabbash y su tripulación. En este caso, se reduce la Resistencia en 4
      para las siguientes acciones de la compañía en la próxima escena:
      disfrazarse de piratas, tiradas de Interfaz e Intrusión contra los
      sistemas del Colectivo, y tiradas de Picaresca e influencia contra el
      personal del Colectivo.
    </p>

    <p>Los exploradores son:</p>

    <ul>
      <li>
        Elliot Sargent (soldado de Hawkwood forzado a la servidumbre pirata
        junto con varios primos).
      </li>

      <li>
        Serkan Yilmaz (técnico de al-Malik cuya esposa espera en la corte de
        Barabbash).
      </li>

      <li>
        Wilma Franklin (mercernaria yeoman cuya esposa es enfermera en Villa
        Celestia).
      </li>
    </ul>

    <p>
      Una vez que la nave exploradora es capturada, los técnicos Killroy
      aseguran los datos de navegación y los códigos de autorización de las
      computadoras a bordo. "Tenemos todo lo que necesitamos para infiltrarnos
      en Villa Celestia", se jacta un técnico. "¡Los bastardos no sabrán por
      dónde les llueven los golpes!".
    </p>
  </article>

  <article id="combate-en-gravedad-cero">
    <h3>Combate en gravedad cero</h3>

    <p>
      En microgravedad no hay arriba ni abajo, ni resistencia del aire, presión
      o peso. Los personajes experimentan el estado físico Suspendido.
    </p>

    <p>
      Suspendido: Estás suspendido en el aire (o posiblemente en el vacío). Tus
      tiradas de acción física son desfavorables (a menos que tengas la
      habilidad de Operaciones a bordo, que incluye entrenamiento en gravedad
      cero). Las excepciones son los láseres y otras armas de Fuerza 0, que no
      provocan retroceso. Además, no puedes iniciar movimiento sin asideros,
      amarras, una mochila propulsora u otra ayuda similar.
    </p>

    <p>
      Ten en cuenta que en este drama, todos los piratas poseen la habilidad de
      Operaciones a bordo.
    </p>
  </article>

  <article id="escena-13">
    <h2>Escena 13: Batalla de Villa Celestia</h2>

    <p>Qué: La compañía encabeza el asalto a la base asteroide.</p>

    <p>Quién: Barabbash, Abudjinn, piratas de Melena Sangrienta.</p>

    <p>Dónde: Villa Celestia.</p>

    <p>
      La compañía se acerca a Villa Celestia disfrazada de exploradores que
      regresan a casa. El asteroide es una roca irregular, de un negro hierro
      con profundos abismos y empinadas colinas, y la base está situada en un
      pequeño cráter de impacto. Cerca de la entrada del hangar hay enormes
      bloques de hielo, sujetos al suelo bajo redes de nailon. Recolectados de
      cometas que pasan, estos bloques de hielo constituyen un suministro de
      agua de emergencia para la base. Entre el asteroide negro y los débiles
      haces del sol distante, la superficie es realmente oscura, a excepción de
      unas pocas lámparas de aproximación y focos alrededor del hangar. Aquí
      también hace un frío intenso; la vida en el interior es posible gracias a
      los dos reactores de fusión en el núcleo de la base. En lo alto, la
      flotilla pirata de media docena de naves más pequeñas orbita.
    </p>

    <p>
      La nave de exploración robada es recibida por un controlador de vuelo con
      voz aburrida y la compañía debe abrirse paso con engaños. Al acercarse en
      una nave pirata robada, su tirada de engaño es favorable (además de la
      ventaja de Resistencia que podrían haber obtenido en la Escena 12).
    </p>

    <p>
      Una vez dentro, la compañía encuentra el hangar de Villa Celestia sin
      vigilancia, aunque hay dos técnicos trabajando en las reparaciones de la
      nave de combate Inquisitor (o similar), mientras un Vuldrok solitario está
      sentado en una esquina limpiando su arma. Todos están ocupados y la
      compañía debería tener poca dificultad para someterlos o pasar
      sigilosamente junto a ellos.
    </p>
  </article>

  <article id="hangar">
    <h3>Descripción del hangar</h3>

    <p>
      Una gran caverna excavada en la roca y sellada con espuma amarilla. No hay
      equipo sin usar esparcido, y sorprendentemente pocas cajas vacías o pilas
      de cables, etc. La base está peligrosamente desabastecida y los materiales
      sobrantes y la basura se reciclan, reutilizan o guardan cuidadosamente en
      lugares seguros. Deja que la compañía se encuentre con un cofre pesado y
      con candado que no contiene más que un montón de pernos oxidados, clavos
      doblados, trozos de cable y varios rollos de cinta adhesiva fuerte.
    </p>

    <p>
      Hay cuatro naves estelares adicionales atracadas para reparaciones —la
      nave de combate de la Inquisición (si todavía está por ahí) y tres naves
      de clase asaltante— la mayoría con algo de tripulación y/o civiles. Todas
      las naves están sujetas al suelo, y la gravedad artificial local puede
      manipularse con un dial en la pared.
    </p>

    <img src="/public/hangar.png" alt="Hangar de Villa Celestia" />
  </article>

  <article id="pasillos">
    <h3>Descripción de los pasillos</h3>

    <p>
      Villa Celestia es una serie de instalaciones mineras reutilizadas,
      conectadas por túneles sellados con espuma y ocasionales pasillos más
      anchos. La base está muy escasamente iluminada, con, en el mejor de los
      casos, una bombilla cada 10 metros; los residentes llevan fuentes de luz
      personales y algunos usan gafas de baja luz. El espacio es limitado y los
      pasillos están repletos de taquillas personales, cofres y cajas. Largas y
      profundas sombras se proyectan por todas partes, lo que facilita
      esconderse (las tiradas de Sigilo son favorables). Navegar por la base
      sería difícil si no fuera por los antiguos mapas de orientación que cubren
      muchas paredes, actualizados con notas dibujadas a mano que muestran
      nuevos caminos de conexión y habitaciones renombradas. Los piratas
      merodeadores destruirán sistemáticamente los mapas una vez que suene la
      alarma para desorientar a los intrusos.
    </p>

    <p>
      La infiltración sigilosa y la inevitable batalla de Villa Celestia se
      manejan como episodios sueltos en lugar de un orden fijo de eventos. La
      compañía elige qué instalaciones y sistemas de la base atacar,
      posiblemente dividiéndose en varios equipos. Debes describir encuentros
      aleatorios y la atmósfera a lo largo del camino (piratas jugando a las
      cartas, un esclavo solitario lavando un pasillo, órdenes aleatorias
      ladradas por el intercomunicador, etc.).
    </p>

    <p>
      La base está en alerta baja hasta que suene la alarma, lo que
      probablemente no sucederá hasta que la compañía no logre someter a un
      enemigo combatiente o civil atacado lo suficientemente rápido como para
      evitar que griten. La seguridad no es alta ya que los prisioneros no
      tienen adónde ir, y la amenaza de la ira pirata es suficiente para
      mantener a todos a raya. (No hay cámaras de vigilancia ni nada similar).
      Afortunadamente, el Colectivo Melena Sangrienta es una banda grande y
      desorganizada con muchos partidarios externos y miembros de la familia que
      van y vienen, y la gente está acostumbrada a ver extraños aquí.
    </p>

    <p>
      Por lo tanto, la compañía solo enfrentará preguntas casuales (a menudo
      amistosas) si se les acercan: "Hola, guapo. No te había visto por la base
      antes. ¿Eres un nuevo recluta, cariño?".
    </p>

    <p>
      A continuación, se presentan resúmenes rápidos de varios sitios que la
      compañía puede atacar. Los piratas suelen ser asaltantes Vuldrok o
      corsarios del Mundo Conocido (50/50), mientras que los civiles pueden ser
      familiares de piratas, especialistas esclavizados o rehenes, todos los
      cuales tienen tareas que hacer. Cuando suena la alarma, los complementos
      de los piratas suelen duplicarse o reducirse a cero (dependiendo de la
      ubicación), mientras que los civiles a menudo permanecen en su lugar para
      esconderse. Los civiles solo lucharán si se les obliga.
    </p>

    <p>
      Hay aproximadamente 50 piratas en la base (menos los piratas perdidos en
      Ruthwyck anteriormente), de los cuales unos 10 abordan naves una vez que
      suena la alarma. Barabbash se encuentra en el Cuartel General, mientras
      que Abudjinn se mueve y puede ser encontrado en cualquier lugar; ninguno
      de los dos aborda naves en respuesta a la alarma. También hay 100 civiles
      aquí (incluyendo prisioneros y niños).
    </p>

    <h4>Hangar</h4>

    <p>
      1 pirata, 2 civiles (más a bordo de naves individuales). Contiene naves
      estelares en dique seco y poco más de interés. Para la descripción, ver
      arriba.
    </p>

    <h4>Taller</h4>

    <p>
      2 piratas, 5 civiles. Un lugar pequeño y concurrido donde se fabrican y
      reparan equipos y herramientas. Dos de los civiles son Ingenieros
      esclavizados. La sala está inusualmente bien iluminada y llena de cajas
      repletas de materiales reciclados, herramientas y suministros. Una única
      impresora 3D TL5 se encuentra en una esquina, con muy poco material de
      fabricación.
    </p>

    <h4>Jardín Hidropónico</h4>

    <p>
      3 piratas, 10 civiles. Aquí se cultivan hierbas y verduras en invernaderos
      con control atmosférico, así como en estanterías, cajones y mesas al aire
      libre. El lugar es cálido, húmedo y está iluminado por sombrías luces de
      crecimiento violetas. Estos "campos" son trabajados principalmente por
      niños, supervisados por un esclavo especialista.
    </p>

    <h4>Hábitats de Población (x3)</h4>

    <p>
      Promedio de 3 piratas, 8 civiles cada uno. Varias de estas áreas existen
      en toda la base, conteniendo gimnasios, nichos para dormir tipo ataúd (con
      camas individuales y dobles), y baños, todo rodeando una cocina-comedor
      comunal. Un cuarto hábitat de población se utiliza como enfermería (que
      también alberga al personal).
    </p>

    <h4>Hábitat de Detención</h4>

    <p>
      5 piratas, 23 civiles. Similar a los hábitats de población, excepto que
      alberga a cautivos poco cooperativos. Los prisioneros se mantienen
      desnutridos y débiles, pero tienen libre acceso al hábitat excepto a la
      sala de gimnasio, que ha sido vaciada y convertida en una celda de
      aislamiento. La puerta solo se puede abrir desde el exterior y los piratas
      aquí son guardias alertas que usan escudos electrónicos en todo momento.
    </p>

    <h4>Sala de Máquinas</h4>

    <p>
      2 piratas, 2 civiles. Ubicada en lo profundo del asteroide, esta cámara
      abovedada contiene dos grandes generadores de fusión que suministran
      energía a toda la base, así como sistemas de recuperación de residuos y
      fontanería. La sala es muy caliente y la condensación de agua gotea y se
      acumula en cada superficie. En una esquina de la sala hay una gran cuba de
      acero cerámico llena de gusanos que compostan activamente los desechos
      biológicos. Desde aquí, un técnico podría encender/apagar la energía de
      cualquier sitio o pasillo del que conozca el número de ubicación (impreso
      en cada marco de puerta).
    </p>

    <h4>Centro de Vida</h4>

    <p>
      2 piratas, 2 civiles. La puerta está cerrada y solo los piratas conocen el
      código (requiriendo tiradas de Intrusion para eludirlo). La sala está
      iluminada por filas de monitores y luces parpadeantes. Varias filas de
      máquinas pensantes TL4 robustas y construidas para durar operan el soporte
      vital de la base, el aire, la presión, las luces, la gravedad artificial y
      la temperatura desde aquí, todo lo cual los miembros de la compañía pueden
      manipular de manera similar a la energía en la Sala de Máquinas. Apagar el
      aire de una habitación cerrada hará que los habitantes pierdan el
      conocimiento en ½ a 5 horas, dependiendo del tamaño de la habitación y el
      número de habitantes. Puede que ni siquiera se den cuenta de lo que está
      sucediendo.
    </p>

    <h4>Centro de Comunicaciones</h4>

    <p>
      2 piratas, 0 civiles. Esta pequeña sala es los ojos y oídos de Villa
      Celestia, conteniendo una única máquina pensante que controla los
      intercomunicadores de la base, las radios espaciales, los sensores y las
      comunicaciones de superficie a nave. Si las comunicaciones se interrumpen,
      los piratas (y la compañía) aún pueden usar los altavoces, pero la señal
      podría fluctuar o desaparecer por completo, especialmente en lo profundo
      de la base altamente aislada y blindada. Sin embargo, la comunicación con
      el mundo exterior es imposible (pero ver Defensas de la Base a
      continuación).
    </p>

    <h4>Defensas de la Base</h4>

    <p>
      5 piratas, 6 civiles. Desde aquí se gestiona la seguridad interna de la
      base y la defensa espacial. Escudos, baterías de cañones, puertas,
      comunicaciones de punto a punto de emergencia, y comunicaciones de haz
      infrarrojo de base a nave, todo se opera (y se puede sabotear) desde aquí.
      Este es un objetivo de alta prioridad y los Killroys esperan que la
      compañía pueda tomarlo rápidamente para ayudar en sus esfuerzos de batalla
      espacial.
    </p>

    <h4>Cuartel General (HQ)</h4>

    <p>
      8 piratas, Barabbash, 5 civiles. Parte puente de nave espacial y parte
      lujoso salón, el HQ es donde Barabbash tiene su corte y desde donde se
      dirige Villa Celestia, y de hecho, el Colectivo Melena Sangrienta. Los
      tesoros se amontonan por la sala y sirvientes escasamente vestidos
      atienden a los piratas. Una docena de pantallas de computadora, una de
      cinco metros de ancho, informa al HQ sobre todo lo que sucede en y sobre
      la base. En la actualidad, muestra imágenes en vivo de la batalla espacial
      sobre Villa Celestia, alternando entre cámaras de superficie, cámaras de
      nave y varios gráficos y estadísticas generados por máquinas pensantes.
      Cualquier función de la base puede ser anulada temporalmente desde aquí,
      pero solo una a la vez, exigiendo la atención completa de un solo técnico.
    </p>

    <p>
      Los aposentos privados de Barabbash, lujosos y bien abastecidos con
      suministros de emergencia y lujos, se encuentran adyacentes al HQ, y están
      prohibidos para todos excepto para él. Aquí, los hermanos Barabbash viven
      y coordinan sus actividades, manteniendo la farsa para todos excepto para
      un puñado de los piratas más confiables. Además, los hermanos Barabbash
      pueden acceder a ciertos pasadizos secretos en toda la base desde aquí,
      permitiéndoles ir y venir sin ser vistos (para mantener la coartada). Los
      miembros de la compañía que husmeen por aquí pronto encontrarán evidencia
      de que hay más de un Barabbash en el Colectivo Melena Sangrienta (aunque
      solo uno está presente en este momento).
    </p>

    <img
      src="/public/villa_celestia_map.png"
      alt="Mapa de la base de Villa Celestia"
    />
  </article>

  <article id="bloqueando-el-acceso">
    <h3>Bloqueando el acceso</h3>

    <p>
      El asteroide está lleno de caminos, pasillos y cruces. Sin embargo, al
      tomar el control de dos o tres túneles clave, la compañía (¡o los
      piratas!) pueden bloquear la entrada a cualquier habitación o instalación
      de la base, permitiéndoles acorralar enemigos o cortar el acceso. (Esto no
      bloquea el acceso a través de los pasadizos secretos, sin embargo).
    </p>
  </article>

  <article id="batalla-espacial">
    <h3>Batalla Espacial</h3>

    <p>
      Los Killroys están listos para atacar tan pronto como la compañía solicite
      apoyo, señale que todo está despejado, o si los ansiosos Killroys
      simplemente deciden que es hora de atacar. No se le dará atención especial
      a la batalla espacial aquí, y debes asumir que la lucha se prolonga sin
      que ningún bando obtenga ventaja hasta que la compañía cambie el rumbo al
      capturar Villa Celestia o secciones significativas de ella. Por supuesto,
      los jugadores que piensen en formas ingeniosas de fortalecer su bando
      deberían ser recompensados inclinando la batalla espacial a su favor.
    </p>

    <p>
      Las baterías de cañones de Villa Celestia, al estar ancladas al asteroide,
      defienden principalmente la aproximación directa a la base y son de uso
      limitado en una batalla alrededor de todo el asteroide.
    </p>
  </article>

  <article id="alarma">
    <h3>Alarma</h3>

    <p>
      Una vez que la compañía sigilosa es finalmente descubierta y la alarma
      suena, ocurren varias cosas sucesivamente. Cada evento puede desencadenar
      un encuentro. Ignora, añade o altera los eventos según las actividades de
      la compañía:
    </p>

    <ul>
      <li>
        Las naves piratas que orbitan Villa Celestia activan sus puestos de
        combate, enfrentándose a las naves Killroy tan pronto como aparecen.
      </li>

      <li>
        Si se les permite (es decir, el acceso al hangar no está bloqueado),
        todas las naves estelares aptas para el espacio en el hangar son
        tripuladas rápidamente y entran en batalla, posiblemente dejando a la
        compañía sin una nave de escape. (Si la mayoría de las naves despegan,
        resta -1 pirata de los grupos que la compañía encuentre en la base).
      </li>

      <li>
        Los civiles rezagados son conducidos a los hábitats de población
        mientras los piratas se unen para defender la base.
      </li>

      <li>
        Villa Celestia es puesta en bloqueo total. A menos que la compañía haya
        convencido a los exploradores reacios en la Escena 12 (y recibido todos
        los códigos de acceso), las puertas ahora estarán bloqueadas para ellos.
      </li>

      <li>
        Un equipo de asalto pirata localiza y ataca a los PJ. Del mismo número
        que la compañía, luchan con cautela y se retiran si las cosas se ponen
        mal.
      </li>

      <li>
        Habiendo encontrado una oposición significativa, los piratas apagan las
        luces, dejando la base en una oscuridad casi total. Los piratas con
        gafas de visión nocturna forman partidas de caza. Otros piratas se
        reagrupan para defender puntos y ubicaciones clave. Como antes, la
        compañía encuentra hostiles del mismo tamaño que su(s) propio(s)
        grupo(s).
      </li>

      <li>
        Abudjinn comienza a merodear, usando la oscuridad y su visión oculta a
        su favor, así como los pasadizos secretos que le permiten superar a la
        compañía. Busca al PJ con aspecto más rudo para atacar en combate cuerpo
        a cuerpo.
      </li>

      <li>
        A medida que los intrusos avanzan a pesar de los esfuerzos piratas,
        Barabbash abandona el Cuartel General con guardaespaldas para
        enfrentarse a la compañía en una batalla personal. Las luces se
        encienden para esta lucha, pero la gravedad artificial se desactiva.
      </li>
    </ul>

    <p>
      Si Barabbash resulta gravemente herido o sus piratas sufren grandes bajas,
      pedirá un alto el fuego. Ofrece abandonar Villa Celestia y su flotilla,
      liberar a sus cautivos y disolver a todos los piratas no libres. A cambio,
      exige paso seguro a la compuerta de salto a bordo de una nave adecuada (la
      nave de combate Inquisitor si es posible) para él y su tripulación
      principal. Si bien esto reduciría enormemente las bajas y permitiría a
      muchas víctimas de la piratería recuperar parte de sus pérdidas del botín
      y los bienes incautados, los Killroys, preocupados por la futura piratería
      y las jumpkeys deshonestas, necesitarán ser convencidos para aceptarlo. (E
      incluso si ceden, los Killroys podrían atacar obstinadamente a la nave
      pirata en retirada de todos modos, arriesgando la aniquilación de ambas
      facciones). Alternativamente, si la posición negociadora de Barabbash es
      débil, ofrecerá regresar a Criticorum para ser juzgado allí (donde la
      presión familiar asegurará un veredicto leve). Sin embargo, si se ve
      obligado, Barabbash liderará a sus piratas en una batalla suicida de
      destrucción mutua.
    </p>
  </article>
</section>
