<section class="prose mt-8">
  <article>
    <h1 id="acto-1">Acto 1: Sospechas y Mentiras</h1>

    <p>
      Donde la compañía llega a Ruthwyck y descubre que hay más cosas mal que el
      asesinato de un obispo.
    </p>

    <p>
      Los directores de juego que lean esto por primera vez deben familiarizarse
      con el Dramatis Personae al final de este drama antes de continuar.
    </p>

    <p>
      Si bien las escenas se presentan en orden numérico, las decisiones de los
      jugadores deben dictar cómo se desarrolla realmente la investigación.
    </p>

    <p>
      El mundo de Hargard, el escenario de este drama, se presenta en el Libro
      del Director de Juego de Fading Suns.
    </p>
  </article>

  <article id="escena-1">
    <h2>Escena 1: ¡Bienvenidos a Ruthwyck!</h2>

    <p>
      Qué: Al llegar a Ruthwyck la compañía comprime una serie de escenas antes
      de que los personajes se acerquen a la ciudad.
    </p>

    <p>
      Quién: Alto Inquisidor Vindex, Hermano Castites, Avestites (piratas),
      Maurice Vragoleon.
    </p>

    <p>
      Dónde: Ruthwyck, un pequeño pueblo costero en Dagnir, en el mundo de
      Hargard.
    </p>

    <p>
      Ruthwyck es un pequeño pueblo encaramado en lo alto de acantilados
      empinados que dominan el Mar Elfdrid. Escalones tallados con láser en la
      cara del acantilado conducen a una playa de guijarros y a un pequeño
      puerto. Al este de la ciudad, pasando las tierras de cultivo circundantes,
      se extiende el Bosque de Jotun, oscuro y ominoso. En la cima de la colina
      central de la ciudad se encuentra la Catedral de San Hombor, una sencilla
      estructura de piedra de tamaño humilde, rodeada por un puñado de pequeños
      edificios auxiliares. Al norte se alzan las ruinas cubiertas de maleza del
      Salón de Hrothlac, abandonadas hace más de cuatro siglos. Al sur de la
      ciudad, se ha despejado y cubierto de grava una gran parcela como campo de
      aterrizaje para naves espaciales y aeronaves, junto a la cual se alza un
      largo almacén-hangar prefabricado de maxi-hormigón adornado con el emblema
      del Gremio de los Aurigas.
    </p>

    <p>
      Ruthwyck tiene una población mixta de 3/5 de campesinos Vuldrok primitivos
      y 2/5 de colonos sofisticados del Mundo Conocido, con un pequeño
      contingente de los primeros esforzándose por cultivar el estilo de los
      últimos.
    </p>

    <p>
      Aunque el clima es templado y agradable la mayor parte del año, el suelo
      aquí no puede soportar la agricultura comercial. Sin embargo, el Bosque de
      Jotun y el Mar Elfdrid prometen suficientes rendimientos estacionales como
      para que los intereses comerciales se sientan atraídos por el lugar.
      Además de la lonja de los Aurigas, Ruthwyck cuenta con un banco de Reeves
      y una oficina de topografía del Gremio de Prospectores, y los cimientos de
      un hotel en el que se ha detenido la obra (el contratista se quedó sin
      dinero el año pasado). Ruthwyck tiene la atmósfera de un pueblo fronterizo
      en auge que corre el riesgo de colapsar al primer signo de una recesión
      que haga estallar la burbuja.
    </p>
  </article>

  <article id="espaciopuerto">
    <h3>Espaciopuerto</h3>

    <p>
      Además de cualquier nave en la que llegue la compañía (probablemente una
      aeronave comercial que transporta mercancías desde Elfhome, o su propia
      nave estelar), hay otra nave estacionada aquí, una escolta de aterrizaje
      destartalada pintada con motivos de fuego y cruces de puertas de salto. Un
      par de fanáticos avestitas, con aspecto relajado y charlando alegremente,
      patrullan los terrenos del cañonero. Si la compañía se acerca, los
      avestitas les apuntan con lanzallamas y les ordenan que se vayan; se
      dispararán tiros de advertencia a menos que obedezcan. Nadie en Ruthwyck
      soñaría con desafiar a los agitadores.
    </p>

    <p>
      Además, dos naves estelares de clase escolta Killroy están estacionadas
      dentro del almacén-hangar, equipadas para patrullaje sigiloso y cada una
      con aproximadamente la mitad de potencia que la escolta inquisitorial
      pesada. En una lucha igualada, la escolta probablemente sobreviviría a los
      ataques de la nave más pequeña el tiempo suficiente para destruir una nave
      enemiga, momento en el que el equilibrio se inclinaría fuertemente a favor
      de la escolta.
    </p>
  </article>

  <article id="catedral-de-san-hombor">
    <h3>Catedral de San Hombor</h3>

    <p>
      La catedral sufre una escasez crónica de personal, aunque los piadosos
      lugareños (incluidos algunos conversos Vuldrok) ayudan lo mejor que
      pueden. Al acercarse a la catedral, la compañía es recibida por acólitos
      legos —divididos entre nativos de aspecto rudo y barbudo con vestimenta
      civil del Mundo Conocido y nativos más amables y verdaderos del Mundo
      Conocido, más a gusto con esa vestimenta— que los escoltan hasta Matre
      Orisha, la obispa en funciones de Ruthwyck. Se les pide que esperen
      mientras Orisha atiende a un paciente en su oficina. Pronto, un hombre
      mayor, de hombros anchos, con porte militar, pero con aspecto curtido y
      olor a sueño pesado y alcohol, sale de la oficina. Detrás de él, una mujer
      de piel morena con túnicas blancas y un chal. "¡Debes dejar la bebida,
      Maurice, o te espera una tumba temprana!", advierte ella. "Sí, señora",
      responde Maurice y, a espaldas de Orisha, le guiña un ojo
      conspiradoramente a la compañía. "Ni una gota más, señora, ¡lo juro!".
      Luego sale por la puerta (dirigiéndose a la taberna de los Aurigas).
    </p>

    <p>
      "Deben ser los investigadores", dice Orisha y les hace un gesto para que
      entren.
    </p>

    <p>
      En la oficina del obispo, llena de libros, equipo médico y varias hermosas
      figuras de madera talladas que representan santos, la compañía es
      formalmente bienvenida a Ruthwyck. Después de las cortesías y unas tazas
      de té local de corteza dulce, Orisha se desahoga con la compañía:
    </p>

    <p>
      El Padre Benedict fue asesinado en una noche de tormenta, los vientos
      ahogando sus gritos. Orisha lo encontró a la mañana siguiente, tirado en
      el suelo de la catedral, su cuerpo golpeado y magullado, su tráquea
      aplastada.
    </p>

    <p>En cuanto a los sospechosos, Orisha ofrece la siguiente lista:</p>

    <ul>
      <li>
        Obispa en funciones, Orisha. Si bien ella afirma haber disfrutado de una
        cálida relación con Su Santidad, y no tenía más que respeto por sus
        obras y reputación, insiste en que como asistente de Benedict y sucesora
        temporal, debe ser considerada sospechosa.
      </li>

      <li>
        Lee Soong de Kish, diácono de la parroquia, jardinero y tallador de
        madera. Fue uno de los primeros en responder a la llamada para
        establecerse cuando Ruthwyck se reorganizó en un obispado del imperio de
        Alexius. Un joven entusiasta, dedicado y fiel, el trabajo de Soong para
        amueblar la catedral con iconos inspiradores y hermosas decoraciones ha
        ayudado a convertir a muchos paganos a la Fe Universal. Desapareció la
        noche en que Benedict fue asesinado.
      </li>

      <li>
        Tradicionalistas Vuldrok. La parroquia ha tenido problemas menores y sin
        derramamiento de sangre con secciones de la población nativa —paganos
        reacios a abandonar sus falsos dioses por la verdadera luz de la gracia
        del Pancreador. "Pobres criaturas... la Luz del Amor es difícil de ver
        desde dentro de las sombras nacidas de la oscuridad."
      </li>

      <li>
        Embla Trollkin, la Bruja de Jotunwood. Es una hechicera Vuldrok que
        reúne a los tradicionalistas en torno a su arcaica mitología de
        adoración a demonios y terrores ancestrales. Pero a pesar de sus
        diferencias espirituales, Orisha no considera a Embla Trollkin en su
        esencia una mujer malvada, y el Padre Benedict mantuvo muchos debates
        fructíferos con ella. Era su firme creencia que a través de un diálogo
        compasivo y respetuoso, el alma de la hechicera podría eventualmente ser
        ganada para la Luz, y con su conversión la población pagana la seguiría
        rápidamente.
      </li>

      <li>
        Alto Inquisidor Vindex. Llegó a Ruthwyck con su séquito hace un mes,
        pero se había negado a todas las invitaciones para ver al obispo o para
        ayudar al personal de la parroquia sobrecargado de trabajo. Orisha cree
        que Vindex está investigando a Embla Trollkin y a sus cultistas paganos
        y teme que los métodos de los Avestitas pudieran haber enfurecido a los
        tradicionalistas Vuldrok hasta el punto de rebelarse contra el obispado.
      </li>

      <li>
        Capitán Rand y los Aurigas locales. Orisha admite tener poca experiencia
        con los gremialistas, pero para ser comerciantes empeñados en
        enriquecerse con el comercio, son extremadamente reservados y
        sospechosos hacia Ruthwyck. Hasta ahora, no han logrado congraciarse con
        los lugareños. Además, se niegan a tomar sacramentos o asistir a misa,
        prefiriendo en su lugar los servicios de su propio sacerdote educado en
        Leagueheim, el Padre Chapman.
      </li>
    </ul>

    <p>
      "Y ahí lo tienen, los únicos sospechosos en los que puedo pensar. Rezo
      para que los Empíreos guíen su trabajo a una pronta conclusión. Yo y todos
      los fieles de Ruthwyck estamos a su disposición, y hemos preparado una
      cabaña para su comodidad, en caso de que deseen alojarse aquí en nuestra
      tierra sagrada."
    </p>
  </article>

  <article id="la-cabaña-de-la-compañía">
    <h3>La cabaña de la compañía</h3>

    <p>
      A menos que hagan otros arreglos, la compañía se aloja en la antigua
      clínica-hogar de Orisha, una acogedora cabaña con 10 estrechas camas
      distribuidas en pequeñas habitaciones y rincones de entresuelo.
    </p>

    <img src="/public/Farsantes_y_Ladrones_mapapng.png" alt="Ruthwyck" />
  </article>

  <article id="escena-2">
    <h2>Escena 2: Investigaciones en la Catedral</h2>

    <p>
      Qué: La compañía registra la escena del crimen y los terrenos de la
      catedral en busca de pistas.
    </p>

    <p>Quién: N/A</p>

    <p>
      Dónde: La catedral, la oficina del obispo y la morada del Diácono Soong.
    </p>
  </article>

  <article id="el-cuerpo-de-benedicto">
    <h3>El cuerpo de Benedicto</h3>

    <p>
      Aunque Benedict fue enterrado la semana pasada, Orisha —una sanadora de
      considerable experiencia anatómica y patológica— realizó una autopsia
      exhaustiva de su cadáver. Si se le pregunta sobre el cadáver, ella revela:
    </p>

    <ul>
      <li>
        Benedict fue golpeado (con los puños desnudos) antes de morir. La muerte
        se debió a asfixia por una tráquea aplastada, causada por una abrazadera
        de fuerza, una llave inglesa o una herramienta mecánica similar.
      </li>

      <li>
        Fue encontrado en su ropa de dormir, con las manos atadas a la espalda.
        Su boca había sido amordazada previamente, pero la mordaza había sido
        retirada de la escena. Nada parece haber sido robado.
      </li>
    </ul>
  </article>

  <article id="catedral">
    <h3>Catedral</h3>

    <p>Las preguntas sobre la escena del crimen revelan:</p>

    <ul>
      <li>
        El cuerpo de Benedict fue encontrado cerca del altar. Había algo de
        sangre en el suelo (ya lavada) y varias huellas de barro (fotografiadas
        antes de lavar; las huellas se asemejan a botas resistentes sin
        características identificables). Se descubrió un clip de vendaje, como
        los que se encuentran en los botiquines médicos comunes, cerca.
      </li>
    </ul>

    <p>
      Las preguntas de seguimiento revelan que Orisha y su personal han sido
      llamados recientemente para tratar (y vendar) a las siguientes personas:
    </p>

    <ul>
      <li>Algunos Vuldrok locales que sufrieron varios accidentes menores.</li>

      <li>El diácono Soong, después de cortarse mientras tallaba madera.</li>

      <li>La tabernera de Second Home, que se cortó con un vaso roto.</li>

      <li>
        Varios inquisidores pidieron que se limpiaran y volvieran a vendar
        algunas quemaduras de varias semanas.
      </li>
    </ul>
  </article>

  <article
    id="informacion-secreta-2"
    class="bg-yellow-100 border border-yellow-300 p-4 rounded-lg"
  >
    <h4>Información secreta</h4>

    <p>
      En realidad, el clip incriminatorio pertenecía a los vendajes de
      Barabbash, ocultando su mano cibernética. El capitán pirata dejó caer el
      clip mientras desenvolvía su prótesis para agarrar a Benedict por la
      garganta en un esfuerzo por evitar que el obispo gritara durante los
      interrogatorios sin mordaza. Desafortunadamente, Barabbash accidentalmente
      aplastó la tráquea de Benedict con esta poderosa mano mecánica.
    </p>
  </article>

  <article id="oficina-de-benedicto">
    <h3>Oficina de Benedicto</h3>

    <p>
      La búsqueda en la oficina de Benedict (ahora de Orisha) revela un par de
      pistas (pistas falsas).
    </p>

    <ul>
      <li>
        Cartas entre Benedict (nacido Eskander) y su hermana, la Baronesa
        Cecilia. Discuten sobre la decisión de Benedict de abandonar a su
        familia para unirse al sacerdocio, dejando a su hermana menor heredar de
        su padre. Además, Cecilia está furiosa de que, habiendo elegido su
        camino, Benedict no use su posición para favorecer a la familia.
      </li>

      <li>
        Credenciales anotadas para un Padre Niklas Chapman, ordenado en la
        Catedral de San Kaufmann (Leagueheim). Padre confesor del Capitán de los
        Aurigas, Uwe Rand, y su tripulación. "El sello ortodoxo Urth parece
        genuino", concluye Benedict.
      </li>

      <li>
        Notas sobre cómo convertir a los paganos Vuldrok, en particular a Embla
        Trollkin. Benedict argumenta, para sí mismo, que la adoración de una
        madre universal por parte de los nativos tiene similitudes con la
        veneración del Pancreador en la Fe Universal. Sugiere que muchos dioses
        paganos podrían ser simplemente ángeles Empíreos confundidos con
        deidades, y concluye: "¡Convence a la bruja para que se convierta y todo
        su panteón confuso se deshará en una epifanía de Gracia Empírea!"
      </li>
    </ul>
  </article>

  <article id="la-casa-de-soong">
    <h3>La casa de Soong</h3>

    <p>
      Una pequeña cabaña limpia, con un armario bien organizado y una mesa de
      dibujo ordenada.
    </p>

    <ul>
      <li>
        La mesa de tallar en el centro de la habitación está cubierta de aserrín
        y virutas de madera. Y la punta utilizada para sujetar los bloques de
        madera está doblada, como si un trabajo en progreso hubiera sido
        arrancado del bloque.
      </li>

      <li>
        Faltan el cinturón de herramientas y el delantal de Soong. (Conocido por
        su pulcritud, Orisha sospecha que Soong huyó con sus herramientas).
      </li>
    </ul>
  </article>

  <article
    id="informacion-secreta-3"
    class="bg-yellow-100 border border-yellow-300 p-4 rounded-lg"
  >
    <h4>Información secreta</h4>

    <p>
      Soong estaba trabajando hasta tarde en una figura de la diosa Vuldrok del
      amor, Ultasht —un regalo para su amada Embla Trollkin (cuya semejanza
      compartía)— cuando notó luz a través de las ventanas de la catedral. Al
      investigar, Soong se sorprendió al presenciar a los avestitas asesinando
      al obispo. Presa del pánico, corrió a casa, recogió su obra de arte pagana
      y huyó hacia Jotunwood, todavía con su atuendo de artesano. Febril y
      enloquecido, Soong ha vagado por la naturaleza durante semanas y
      finalmente aparecerá en el Acto 2.
    </p>
  </article>

  <article id="escena-3">
    <h2>Escena 3: Reseñas de la Lonja</h2>

    <p>
      Qué: La compañía encuentra a los comerciantes actuando de forma
      sospechosa.
    </p>

    <p>
      Quién: Capitán Uwe Rand, Ingeniero Jefe C.L.I.V., Rupert Cartashe
      (tendero), Magdalena Soh (tabernera), Maurice Vragoleon
    </p>

    <p>
      Dónde: El almacén-hangar del Gremio de los Aurigas. Esta es fácilmente la
      estructura más visible de Ruthwyck. Un llamativo letrero de neón anuncia
      "Taller, Tienda General y Taberna — ¡abierto todo el día, todos los
      días!".
    </p>
  </article>

  <article id="inspección-del-capitán-de-puerto">
    <h3>Inspección del capitán de puerto</h3>

    <p>
      Al acercarse a la Lonja, la compañía divisa a una figura con un traje de
      vuelo husmeando alrededor de la nave en la que llegaron. Pinchando y
      señalando el vehículo, haciendo preguntas serias a cualquier PNJ de la
      tripulación, el inspector pronto dirige su atención a la compañía.
    </p>

    <p>
      Este es el Capitán Uwe Rand, inspector de aduanas, capitán de puerto y
      contramaestre de las operaciones de los Aurigas en Ruthwyck. Secretamente,
      Rand es el principal agente de Killroy asignado al sistema Hargard. Él les
      informa alegremente que han sido seleccionados al azar para inspecciones e
      interrogatorios puntuales. La negativa invita a serias reprimendas y a la
      inclusión en la lista negra para la compañía, sus patrocinadores y sus
      asociados.
    </p>

    <p>
      Al aceptar las inspecciones, la compañía es interrogada sobre sus viajes:
      dónde han estado, puertos visitados, crímenes en el espaciopuerto
      presenciados y las jumpkeys utilizadas. El registro de vuelo y los
      registros de salto de su nave son copiados para un análisis rutinario, sus
      credenciales son escudriñadas y las jumpkeys en su posesión son revisadas
      para la verificación del propietario. "Disculpen las molestias", dice Rand
      con una sonrisa.
    </p>

    <p>
      Los personajes jugadores Aurigas podrían sacrificarse por el equipo aquí,
      ofreciéndose a tratar, de gremio a gremio, con Rand en su nombre. Esto le
      da un respiro a la compañía, pero obliga a los personajes Aurigas a
      someterse a un escrutinio privado. El lado positivo es que pueden hablar
      con confianza con un compañero de gremio, posiblemente aprendiendo sobre
      la presencia de Killroy y la misión antipiratería.
    </p>

    <p>
      Si Rand sospecha que la compañía está usando jumpkeys piratas o tiene
      conexiones con piratas, confisca su nave y la somete, junto con la
      compañía, a una investigación exhaustiva, que durará días.
    </p>
  </article>

  <article id="garaje-de-naves-espaciales">
    <h3>Garaje de naves espaciales</h3>

    <p>
      Este cavernoso salón es un taller del Gremio de Ingenieros bajo
      jurisdicción de los Aurigas, que da servicio a naves visitantes y otros
      aparatos de alta tecnología presentes en Ruthwyck. El taller está bien
      surtido y puede dar servicio a la mayoría de los aparatos TL4-7, además de
      tecnología de naves estelares TL8.
    </p>

    <p>
      En el extremo más alejado, acordonadas para los clientes generales, se
      encuentran dos naves escolta clase Centinela de la Liga, chapadas en goma
      negra (modificaciones de sigilo de baja tecnología que hacen desfavorables
      las tiradas de detección visual y de equipos de escaneo TL5 o inferiores)
      y en aparente perfecto estado. Una tiene un panel abierto que expone una
      cavidad donde se ha retirado un aparato, un módulo sensor a juzgar por la
      ubicación.
    </p>

    <p>
      El personal de tres personas, incluyendo al Ingeniero Jefe C.L.I.V.
      ("Clive"), se relacionará gustosamente con la compañía. Saben poco (y no
      les importa mucho) sobre los negocios de sus jefes Aurigas.
    </p>

    <p>
      Los personajes jugadores curiosos podrían notar lo siguiente, basándose en
      ciertas acciones:
    </p>

    <ul>
      <li>
        Escaneo de cámaras: Intrusión u Observar + Percepción (requiriendo
        Resistencia): Las cámaras de vigilancia están por todas partes,
        observando tanto a los clientes como a los ingenieros (los técnicos se
        encogen de hombros: "todos los jefes son paranoicos").
      </li>

      <li>
        Revisando el garaje: Un aparato desconocido, tumbado (accidentalmente)
        descubierto en un banco de trabajo, se asemeja a una mejora de sensor
        personalizada y obviamente coincide con la cavidad en la escolta de la
        Liga estacionada. Redención Tecnológica + Lógica (Resistencia difícil)
        para darse cuenta de que es un disruptor de siluetas, un dispositivo que
        envía pulsos de radio para contrarrestar y fraccionar las ondas de radio
        entrantes, ocultando así la silueta de la nave a los sensores. (Las
        tiradas de detección de los navegantes de la nave oponente se vuelven
        desfavorables y las tiradas de ocultación de la nave con silueta
        interrumpida son favorables). ¡Tecnología de sigilo avanzada! "Sin
        comentarios", responden los ingenieros sonriendo a las preguntas.
      </li>

      <li>
        Hablando de trabajo: Si se discute sobre alta tecnología con los
        entusiastas técnicos, una maniobra exitosa de amistad o engaño (se
        requiere una capacidad de TL6+) hace que uno de ellos se equivope y
        mencione haber mantenido recientemente un traje borroso, ¡una
        maravillosa pieza de equipo de camuflaje que otorga a los usuarios casi
        invisibilidad! Al darse cuenta de su error, el Ingeniero se calla
        mientras sus colegas fruncen el ceño con desaprobación.
      </li>
    </ul>
  </article>

  <article id="tienda-general">
    <h3>Tienda general</h3>

    <p>
      La tienda de Rupert Cartashe es limpia y bien iluminada, parecida a una
      tienda de conveniencia del siglo XXI. Sus estantes rebosan de productos
      enlatados bien etiquetados, herramientas básicas, cuerdas, rollos de tela,
      calzado (un Auriga se dedica a la zapatería en su tiempo libre), una
      amplia gama de bebidas alcohólicas y dulces, botiquines médicos, docenas
      de revólveres ligeros (MacCauly Learmat .32) y medianos (MacCauly Loadrite
      .38) y rifles de caza básicos, y grandes cantidades de munición
      correspondiente.
    </p>

    <p>
      En un cuarto trasero, Rupert guarda varios aparatos de alta tecnología
      para la venta, incluyendo: un Diario TL6 y una máquina de pensar Mapper
      TL5, un traje de armadura stiffsynth, un escudo electrónico estándar,
      varios kits de herramientas TL4-6, tres tarjetas glimmer, tres Elixires y
      un rifle láser Martech Indigo. Si bien el obispo debe aprobar todas estas
      compras, Orisha (y Benedict antes que ella) generalmente permite todos los
      artículos de alta tecnología que no sean armas ni máquinas de pensar; los
      posibles compradores de estos últimos deben solicitar a Orisha caso por
      caso.
    </p>

    <p>
      Los precios son el triple para municiones, alimentos y alcohol, y el doble
      para la selección de alta tecnología. Rupert también acepta trueques, que
      valora a la mitad de su precio de venta si están en buenas condiciones.
    </p>

    <p>
      Rupert está ansioso por vender sus productos y regalará una hebilla de
      cinturón de plata tallada con una cabeza de vorox para cerrar un trato.
      Una inspección cercana de la hebilla revela:
    </p>

    <ul>
      <li>
        Artesanía o Intrusión u Observar + Percepción (requiere Resistencia; se
        requiere habilidad TL6): Un micrófono electrónico está oculto dentro.
      </li>

      <li>
        Una vez que se revela el micrófono, se puede examinar: Redención
        Tecnológica + Ingenio (Resistencia difícil; se requiere habilidad TL6):
        El micrófono es un rastreador de ubicación, compatible con máquinas de
        pensar Mapper TL5-8.
      </li>

      <li>
        Cuando se le confronta con el micrófono, Rupert finge ignorancia. "Lo
        obtuve de un noble Li Halan en Leagueheim mediante trueque."
      </li>
    </ul>
  </article>

  <article id="taberna">
    <h3>Taberna</h3>

    <p>
      "The Second Home" es un establecimiento de aspecto agradable, un glamuroso
      salón de lujosos rojos, negros y dorados. Sin embargo, todo es un truco de
      decoración barata y diseño inteligente, pero aquí, en el límite de la
      civilización, esta taberna grita estilo.
    </p>

    <p>
      La propietaria, Magdalena Soh, no sufre ni a ingratos ni a tontos, y
      siempre lleva un bastón eléctrico que no teme usar. Ella dirige el bar
      bajo contrato con los Aurigas y no hará nada para poner en peligro su
      posición con ellos. A un compañero Chatarra, sin embargo, Magdalena podría
      admitir que sospecha que los Aurigas están tramando algo, posiblemente
      espiando a la diócesis.
    </p>

    <p>
      "The Second Home" es frecuentada principalmente por lugareños, pero
      sorprendentemente, pares de avestitas fuera de servicio también beben aquí
      con frecuencia, divirtiéndose y compartiendo chistes secretos.
    </p>

    <p>
      Otro cliente frecuente es Maurice (el tipo que la compañía conoció al
      salir de la oficina del obispo), quien pasa su tiempo libre aquí bebiendo,
      compartiendo sueños de búsqueda de tesoros y poniendo la gramola gratis
      cuando Magdalena no está mirando (él sabe una forma de manipular la
      máquina a través de un hueco en la parte trasera). Alguien que se haga
      amigo de Maurice con éxito (comprarle una bebida hace que la tirada sea
      favorable) podría aprender:
    </p>

    <p>
      Dos veces recientemente, Maurice ha visto un fantasma por la ciudad, una
      silueta similar a un espejismo acechando. Sin embargo, nadie se toma en
      serio al borracho.
    </p>
  </article>

  <article
    id="informacion-secreta-4"
    class="bg-yellow-100 border border-yellow-300 p-4 rounded-lg"
  >
    <h4>Información secreta</h4>

    <p>El "fantasma" es un agente de Killroy en un traje difuminador.</p>
  </article>

  <article id="respuestas-gremiales">
    <h3>Respuestas gremiales</h3>

    <p>
      Los Aurigas se presentan como emprendedores fronterizos que buscan ganar
      dinero con el comercio local. Otros miembros de gremios, incluso si
      sospechan lo contrario, respaldan esta historia; todos ellos dependen de
      la buena voluntad de los Aurigas.
    </p>

    <p>
      Sin embargo, en confianza, un compañero de gremio podría chismorrear,
      compartiendo sospechas de que la lonja de los Aurigas es una tapadera para
      algo:
    </p>

    <ul>
      <li>
        Algunos creen que los Aurigas están espiando a la diócesis, otros que
        son la vanguardia de una importante empresa comercial que está por
        llegar. Y, dado que los Aurigas llevan aquí meses, muchos suponen que
        los inquisidores llegaron específicamente para investigarlos.
      </li>

      <li>
        En cuanto al episcopado, todos están horrorizados y enfadados. Nadie
        albergaba dudas sobre Benedict, un obispo liberal y tolerante, y todos
        están de acuerdo en que su asesinato fue, al menos, malo para los
        negocios. La mayoría de los gremialistas aceptan que el diácono fugitivo
        probablemente lo mató, pero algunos sospechan de los paganos Vuldrok.
      </li>

      <li>
        Las preguntas sobre el tesoro de Hrothlac son recibidas con
        encogimientos de hombros. "Si hubiera existido, el tesoro ya se habría
        encontrado. Es una leyenda para engañar a los incautos para que
        inviertan en rondas. Pregúntale a Maurice sobre eso."
      </li>
    </ul>
  </article>

  <article id="escena-4">
    <h2>Escena 4: Interrogatorios Inquisitoriales</h2>

    <p>
      Qué: La compañía encuentra a los Inquisidores extrañamente poco
      inquisitoriales.
    </p>

    <p>Quién: Alto Inquisidor Vindex, cinco Avestitas (piratas)</p>

    <p>Dónde: Pista de aterrizaje.</p>

    <p>
      La primera vez que la compañía se acerca a la cañonera inquisitorial, dos
      guardias avestitas les dicen que se queden quietos: "El Alto Inquisidor
      Vindex quiere hablar". Un guardia les apunta con un lanzallamas mientras
      su compañero se apresura a entrar. Momentos después, un hombre enorme de
      piel de ébano, con la cabeza y el rostro afeitados, con túnicas escarlatas
      y una mano fuertemente vendada, sale con el guardia original y tres
      avestitas más.
    </p>

    <p>
      Vindex interroga a la compañía sobre sus asuntos, negándose él mismo a
      responder cualquier pregunta alegando privilegio sagrado. Está
      particularmente interesado en su conocimiento de la historia de Ruthwyck
      (es decir, el tesoro de Hrothlac) y no hace preguntas de ningún tipo
      teológico.
    </p>

    <p>
      Las compañías que busquen problemas encontrarán muchos aquí, ya que los
      piratas responden a cualquier pregunta con amenazas y posiblemente
      violencia.
    </p>
  </article>

  <article id="escena-5">
    <h2>Escena 5: Entrevistas Bárbaras</h2>

    <p>Qué: La compañía se encuentra con tensiones locales.</p>

    <p>Quién: Varios PNJ menores</p>

    <p>Dónde: Alrededor de Ruthwyck.</p>

    <p>
      Los nativos están divididos en su visión de los Pueblos del Mundo
      Conocido. La mayoría de los habitantes del pueblo son progresistas y
      tienen una actitud positiva, viendo la conversión Imperial como una
      oportunidad. Por el contrario, la mayoría de los granjeros y habitantes
      del bosque son tradicionalistas, considerando a los forasteros como
      invasores. Típicamente, los tradicionalistas evitan a la compañía a menos
      que se les provoque, mientras que los progresistas están contentos de
      charlar.
    </p>

    <p>Las respuestas típicas a varios temas incluyen:</p>

    <ul>
      <li>
        Asesinato del obispo: Todos están horrorizados, asumiendo que es solo
        cuestión de tiempo antes de que los Vuldrok sean ahorcados por ello.
        Algunos temen en secreto que tradicionalistas enojados realmente puedan
        ser responsables. Una anciana Vuldrok culpa a un espectro que vio
        escabullirse por la Lonja una mañana.
      </li>

      <li>
        Los inquisidores: Universalmente desconfiados por todos los nativos.
        Nadie comprende completamente su propósito, pero algunos han llegado a
        considerar a los Avestitas como una facción de asaltantes de la Iglesia
        Universal.
      </li>

      <li>
        Los gremialistas: Amados por los progresistas, odiados por los
        tradicionalistas. Muchos están perplejos por la secretismo y las
        sospechas de los comerciantes Aurigas.
      </li>

      <li>
        El tesoro de Hrothlac: Se encuentran con encogimientos de hombros.
        "Hrothlac debe haber gastado sus riquezas estableciendo Ruthwyck,
        construyendo su salón y dándose un festín hasta una tumba temprana".
      </li>

      <li>
        Embla Trollkin: Los tradicionalistas agarran sus empuñaduras y
        aconsejan: "¡No molesten a la bruja!". Los progresistas son más
        complacientes, explicando que es una sacerdotisa de la fe de los
        ancestros, sabia pero peligrosa, especialmente para los forasteros. Se
        cree que mantiene alejados a los alienígenas de Nizdharim y las
        tormentas, y que fertiliza la tierra con su magia. Su morada se
        encuentra en lo profundo de Jotunwood, donde ni las naves estelares ni
        los deslizadores pueden aterrizar, una caminata de dos horas desde
        Ruthwyck a lo largo del Camino del Este.
      </li>
    </ul>
  </article>

  <article id="escena-6">
    <h2>Escena 6: La Bruja de Jotunwood</h2>

    <p>Qué: Té y conversaciones con una sacerdotisa pagana.</p>

    <p>Quién: Embla Trollkin.</p>

    <p>Dónde: La Casa de la Bruja en Jotunwood.</p>

    <p>
      Cualquiera en Ruthwyck puede indicar a la compañía el camino hacia la Casa
      de la Bruja: "Simplemente sigan el Sendero del Este durante un par de
      horas hasta que lleguen a una antigua finca de tablones. Es la única en
      Jotunwood."
    </p>

    <p>
      Ruthwyck tiene pocas opciones de transporte de alquiler; se pueden
      conseguir algunos caballos de montar de agricultores progresistas o de la
      oficina de los Prospectores (10 fb/día, depósito de 100 fb), mientras que
      la lujosa calesa de los banqueros de Reeves podría ser prestada a cambio
      de un favor futuro (firmado bajo contrato).
    </p>

    <p>
      Un estrecho sendero serpentea a través de Jotunwood, pasando por varias
      granjas forestales. Nidos de demonios y atrapasueños bordean el sendero y
      poca luz del día pasa a través del denso dosel del bosque.
    </p>

    <p>
      La Casa de la Bruja es una villa antigua pero bien cuidada de tres pisos
      construida por un aspirante a plantador Vuldrok hace siglos. Aunque la
      villa de color blanco descolorido sigue siendo llamativa, los terrenos
      están cubiertos de maleza y semiabandonados. El granero adyacente es una
      ruina, quemada hace generaciones. Figuras danzantes desnudas —algunas con
      cuernos— están pintadas en cada pared.
    </p>

    <p>
      A medida que la compañía se acerca, la bruja sale al porche, rodeada por
      tres guerreros Vuldrok. Ella sonríe de forma acogedora; los
      guardaespaldas, con las manos en las empuñaduras, no.
    </p>

    <p>
      Invitando a sus huéspedes al interior, Embla los sienta en una acogedora
      sala de estar de estilo antiguo y sirve galletas con forma humanoide y té
      de corteza dulce. Un Evangelio Omega descansa sobre una mesa auxiliar, muy
      gastado y lleno de marcapáginas. Cabezas de animales disecados abarrotan
      las paredes, pero no hay signos evidentes de brujería.
    </p>

    <p>
      Embla es cortés y educada, esperando lo mismo de sus invitados. Responde a
      las preguntas libremente, pero miente sobre asuntos privados delicados
      (como su relación con el Diácono Soong). Cualquiera que tenga éxito en una
      acción de detección de mentiras contra la clasificación de Astucia de
      Embla (6) determinará que ella está segura y cómoda, pero está ocultando
      algo.
    </p>

    <p>Los temas probables incluyen:</p>

    <ul>
      <li>
        Asesinato de Benedict: "Benedict era un hombre amable, un ejemplo para
        otros sacerdotes. Disfrutaba de sus visitas semanales y consideraba a
        Benedict un amigo. La noticia de su asesinato me conmocionó y
        entristeció."
      </li>

      <p>
        Embla se somete pacientemente al interrogatorio. Sinceramente quiere
        ayudar y no entiende por qué es sospechosa. La noche en cuestión, ella
        estaba en casa leyendo los Evangelios Omega (un regalo de Benedict),
        pero no tiene coartada. "Mis esfuerzos por adivinar una respuesta han
        arrojado poco, excepto... el culpable fue motivado por la codicia."
      </p>

      <li>
        Fe Universal: "¡Oh, el Evangelio Omega es fascinante! Disfruto
        particularmente de la majestuosa belleza de los sermones de Zebulon y
        del misticismo de las parábolas de Ven Lohji. Benedict, por supuesto,
        creía que mi fe era una corrupción demoníaca de la suya. Yo, sin
        embargo, sostengo que es al revés. En mi opinión, es vuestra religión
        —corrompida por la civilización y la retórica estéril de la iglesia— la
        que es una confusión degradada de la santidad de la naturaleza y Su
        esplendor innato. Como la gente de la ciudad incapaz de ver un bosque
        por los árboles, vuestros predicadores no pueden reconocer la sabiduría
        por sus propios intelectos. ¿Pero qué sé yo? ¡A cada uno lo suyo!"
      </li>

      <li>
        Soong: "Un joven brillante, respetuoso y curioso, y también un excelente
        artista. A menudo acompañaba a Benedict en sus visitas. No puedo creer
        que Soong, desaparecido o no, tuviera algo que ver con el asesinato de
        Benedict. Los dos no tenían más que respeto el uno por el otro."
      </li>

      <li>
        Aurigas de Ruthwyck e inquisidores: "Aunque yo misma no he conocido a
        ninguno de los dos grupos, se dice que los comerciantes estelares buscan
        robar nuestros recursos naturales y vendernos chatarra del Mundo
        Conocido, pero supongo que eso es cierto en todas partes con los
        vendedores ambulantes. En cuanto a vuestros sacerdotes de túnicas rojas,
        Benedict me advirtió que nunca los desafiara por motivos religiosos.
        ¿Entiendo que son una facción berserker sedienta de sangre de vuestra
        Iglesia Universal, autorizada para forzar la conversión de mi gente? Me
        preocupa encontrarlos, pero afortunadamente, a pesar de la advertencia
        de Benedict de que yo sería una de las primeras que buscarían, los de
        túnicas rojas aún no han llegado a mi puerta."
      </li>
    </ul>
  </article>
</section>
