<section class="prose">
  <article>
    <h1 id="consecuencias">Consecuencias</h1>

    <p>
      Dependiendo de cómo se desarrollen los acontecimientos, la compañía podría
      ganar aliados en varias comunidades y facciones durante este drama. A
      menos que hayan incumplido contratos o se hayan portado mal de alguna otra
      manera, también recibirán el pago prometido, y posiblemente más. Pase lo
      que pase, su reputación se extenderá rápidamente, para bien o para mal.
    </p>

    <p>
      Finalmente, como giro argumental, la compañía podría descubrir el secreto
      de Barabbash: que en realidad es un par de hermanos gemelos (o incluso
      trillizos) interpretando el mismo papel, y cómo crearon cuidadosamente el
      mito de su omnipresencia con operaciones coordinadas. Y quién sabe, podría
      haber otro Barabbash por ahí, tramando venganza...
    </p>
  </article>
</section>
