<section id="dramatis-personae" class="prose mt-8">
  <h1>Dramatis Personae</h1>

  <article id="matre-orisha">
    <h2>Matre Orisha, obispa en funciones</h2>

    <p>Agente • Sacerdote 3 • Santuario Eón • Confesor</p>

    <p>
      Descripción: 37 años, con piel y ojos almendrados, y rizos oscuros bajo un
      chal blanco. Su semblante es serio pero cálido, su voz musical.
      Usualmente, Orisha viste túnicas blancas o azul claro, pero se pone la
      casulla escarlata de Benedict cuando ejerce su cargo. Orisha solía
      desempeñar muchos roles —partera, dentista, cantor, entre otros— antes de
      ser impulsada al puesto de obispa en funciones. Competente y obstinada,
      cumple bien con sus deberes pero está abrumada por la gravedad del
      asesinato de Benedict; podría cargar demasiado sobre los hombros de la
      compañía.
    </p>

    <p>
      Capacidades: Costumbres (Catedral), Conocimiento (Religión), Artes
      Escénicas (Oratoria), Leer/Hablar Urthish
    </p>

    <p>Ventajas: Ordenación Eclesiástica (Canónigo), Inspirador</p>

    <p>
      Ritos de Teúrgia: Ecuménicos (Imposición de Manos, La Santa Bendición del
      Profeta)
    </p>

    <p>Estigma: Sus manos brillan levemente cuando lanza ritos.</p>

    <p>Resistencia: Cuerpo 0 | Mente 4 | Espíritu 0</p>

    <p>Vitalidad: 24</p>

    <p>Impulsos: calificación: 10 | número: 1</p>

    <p>Equipo: Túnicas, cruz de puerta de salto, cartera con diario y pluma.</p>
  </article>

  <article id="capitan-contramaestre-uwe-rand">
    <h2>Capitán (Contramaestre) Uwe Rand</h2>

    <p>Agente • Mercader 4 • Aurigas • Comerciante</p>

    <p>
      Descripción: Delgado, de piel pálida y rostro alargado, con rizos rubios y
      perilla. Amigable, pero reservado. Debido al uso infrecuente de drogas de
      longevidad, Rand, de 50 años, no aparenta más de 35. Viste un traje de
      vuelo gris con muchos bolsillos, adornado con el emblema de los Aurigas,
      una corbata amarilla y una capa azul con adornos dorados.
    </p>

    <img
      src="/public/Farsantes_y_Ladrones_CAPTAIN_(BOATSWAIN)_UWE_RAND.png"
      alt="Uwe Rand"
    />

    <p class="bg-yellow-100 border border-yellow-300 p-4 rounded-lg">
      Secreto: El agente Killroy de mayor rango.
    </p>

    <ul>
      Características:

      <li>Fuerza (Str) 4</li>
      <li>Lógica (Wits) 6</li>
      <li>Presencia (Pre) 7</li>
      <li>Destreza (Dex) 5</li>
      <li>Percepción (Per) 5</li>
      <li>Inteligencia (Int) 5</li>
      <li>Resistencia (End) 4</li>
      <li>Voluntad (Will) 4</li>
      <li>Fe (Faith) 6</li>
    </ul>

    <ul>
      Habilidades:

      <li>Encanto (Charm) 7</li>
      <li>Astucia (Knavery) 6</li>
      <li>Observar (Observe) 6</li>
      <li>Pilotar (Pilot) 7</li>
      <li>Disparar (Shoot) 8</li>
    </ul>

    <ul>
      Acciones: Impacto del Objetivo

      <li>Convencer (Convince) 13 | El objetivo es convencido.</li>
      <li>Engañar (Deceive) 13 | El objetivo es engañado.</li>
      <li>Sacudirse (Shake it off) 7 | 7 | 9 | Elimina un estado.</li>
      <li>
        Disparar pistola láser (Shoot laser pistol) 13 | 5 de daño (láser)
      </li>
    </ul>

    <ul>
      Resistencia:

      <li>Cuerpo 2</li>
      <li>Mente 8</li>
      <li>Espíritu 0</li>
    </ul>

    <p>Vitalidad: 23</p>

    <p>Impulsos: calificación: 11 | número: 2</p>

    <ul>
      Equipo:

      <li>Pistola láser</li>
      <li>
        Escudo electrónico de duelo (oculto como un botón del traje de vuelo)
      </li>
      <li>Pin susurrador encriptado</li>
      <li>50 fénix</li>
    </ul>
  </article>

  <article id="aurigas-de-ruthwyck">
    <h2>Aurigas de Ruthwyck</h2>

    <p>
      Descripción: 10 hombres y mujeres de rostro amigable con trajes de vuelo
      gastados y grasientos (Killroys de base), un hombre bien arreglado con el
      pelo peinado con gomina (el tendero Cartashe), y un hombre bronceado e
      inmaculado con un traje blanco y una capa con una gran cruz de puerta de
      salto dorada en una cadena alrededor de su cuello (Padre Chapman).
    </p>

    <p class="bg-yellow-100 border border-yellow-300 p-4 rounded-lg">
      Secreto: Agentes Killroy manteniendo una fachada ordinaria de Aurigas. El
      Padre Chapman es su coartada eclesiástica, avalando su uso de tecnología y
      realizando confesiones y otros sacramentos obligatorios (para mantener los
      secretos dentro de la casa).
    </p>

    <ul>
      Acciones: Impacto del Objetivo

      <li>(Cartashe y Chapman) Hacer amistad 12 | El objetivo es Amigo.</li>
      <li>(Cartashe y Chapman) Engañar 12 | El objetivo es Engañado.</li>
      <li>
        (Cartashe) Regatear 13 | Precio +10%, +5% más por cada 2 PV gastados.
      </li>
      <li>(Chapman) Castigar 13 | El objetivo es Castigado.</li>
      <li>Golpe de puño 9 | 2 de daño</li>
      <li>Golpe de bastón de frape 9 | 6 de daño + Choque</li>
      <li>Disparar pistola láser 9 | 5 de daño (láser)</li>
    </ul>

    <p>Resistencia: Cuerpo 2 | Mente 2 | Espíritu 0</p>

    <p>Vitalidad: 10</p>

    <ul>
      Equipo:

      <li>Mono de cuero</li>
      <li>Pistola láser</li>
      <li>Pin susurrador encriptado</li>
      <li>Algunos fénix</li>
    </ul>
  </article>

  <article id="tecnicos-de-ruthwyck">
    <h2>Técnicos de Ruthwyck</h2>

    <p>
      Descripción: Uno (C.L.I.V., alias "Clive") es un hombre negro de pelo
      salvaje de edad indeterminada, con ojos, lengua y manos artificiales
      (herramientas cibernéticas y aparatos de análisis). Los otros dos (L.X. y
      M.X., alias "Liz" y "Max") son los hijos gemelos de C.L.I.V., ambos de tez
      morena suave, con ojos oscuros y rizos. Todos son amigables y acogedores,
      y visten monos naranjas manchados de aceite y cinturones de herramientas
      sobrecargados.
    </p>

    <ul>
      Acciones: Impacto del Objetivo

      <li>Concentrarse 10 | La siguiente tirada se vuelve favorable.</li>
      <li>Hacer amistad 10 | El objetivo es Amigo.</li>
      <li>
        Arreglar con maña* 12 | El objeto roto funciona durante una escena.
      </li>
      <li>Mejorar* 12 | Mejora la calidad del objeto un grado.</li>
      <li>Golpe de llave 9 | 3 de daño</li>
    </ul>

    <ul>
      * La tirada es favorable para C.L.I.V. debido a sus muchas mejoras
      relacionadas con el trabajo.
    </ul>

    <p>Resistencia: Cuerpo 0 | Mente 2 | Espíritu 0</p>

    <p>Vitalidad: 10</p>

    <ul>
      Equipo:

      <li>Kits de herramientas TL3-8, altavoz</li>
      <li>5 fénix</li>
    </ul>
  </article>

  <article id="magdalena-soh">
    <h2>Magdalena Soh</h2>

    <p>
      Descripción: Una mujer pequeña de unos 40 años, con piel amarillenta
      pálida, ojos negros y cabello negro largo. De rostro severo pero amigable,
      Magdalena usa vestidos fluidos con estampado floral y un colgante con el
      emblema de los Scravers de nácar alrededor del cuello. Su mano derecha
      está vendada por un corte reciente con un vaso roto.
    </p>

    <ul>
      Acciones: Impacto del Objetivo

      <li>Hacer amistad 10 | El objetivo es Amigo.</li>
      <li>Engañar 10 | El objetivo es Engañado.</li>
      <li>Suplicar 9 | El objetivo es Suplicado.</li>
      <li>Golpe de bastón de frape 8 | 6 de daño (Choque)</li>
    </ul>

    <p>Resistencia: Cuerpo 0 | Mente 2 | Espíritu 0</p>

    <p>Vitalidad: 10</p>

    <ul>
      Equipo:

      <li>Bastón de frape</li>
      <li>Cinturón con escudo electrónico debajo de su vestido</li>
      <li>100 fénix</li>
    </ul>
  </article>

  <article id="maurice-vragoleón">
    <h2>Maurice Vragoleón</h2>

    <p>
      Descripción: De mediana edad, piel clara, con ojos marrones tristes,
      cabello canoso cortado al estilo militar y hombros anchos. Su carácter
      amigable y extrovertido esconde profundas penas y cicatrices emocionales
      por la pérdida de su familia en el Sitio de Jericó (4994). Viste una sucia
      chaqueta de infantería de Hawkwood con una Medalla Imperial de Honor
      permanentemente fijada en el pecho, y pantalones locales de piel de oveja.
    </p>

    <img
      src="/public/Farsantes_y_Ladrones_MAURICE_VRAGOLEON.png"
      alt="Maurice"
    />

    <ul>
      Acciones: Impacto del Objetivo

      <li>Hacer amistad 10 | El objetivo es Amigo.</li>
      <li>Golpe de puño 9 | 2 de daño</li>
      <li>Disparar pistola 10 | 4 de daño</li>
      <li>Golpe de espada 9 | 6 de daño</li>
      <li>Trampa 7 | Atrapa la cena.</li>
    </ul>

    <p>Resistencia: Cuerpo 2 | Mente 2 | Espíritu 0</p>

    <p>Vitalidad: 10</p>

    <ul>
      Equipo:

      <li>Cuerda</li>
      <li>Algunos clavos</li>
      <li>Navaja</li>
      <li>Medalla Imperial de Honor</li>
      <li>(todo lo demás ya intercambiado por bebida)</li>
    </ul>
  </article>

  <article id="habitantes-vuldrok">
    <h2>Habitantes Vuldrok</h2>

    <p>
      Descripción: De piel pálida a olivácea, con cabello predominantemente
      rubio oscuro, que los progresistas afines al Imperio mantienen corto y
      sencillo (para emular los estilos de Hawkwood), mientras que los
      tradicionalistas llevan sus mechones largos, a veces trenzados.
    </p>

    <ul>
      Acciones: Impacto del Objetivo

      <li>Golpe de bastón 10 | 3 de daño</li>
      <li>Disparar arco 9 | 4 de daño</li>
      <li>Detectar 9 | PV vs. Resistencia para detectar cosas.</li>
    </ul>

    <p>Resistencia: Cuerpo 1 | Mente 0 | Espíritu 0</p>

    <ul>
      Equipo:

      <li>Armadura acolchada</li>
      <li>Bastón</li>
      <li>Arco (10 flechas)</li>
    </ul>
  </article>

  <article id="embla-trollkin">
    <h2>Embla Trollkin</h2>

    <p>Agente • Sacerdote 3 • Vuldrok • Guardiana de Sueños</p>

    <p>
      Descripción: De piel marfil y ojos negros, con una exuberante cabellera
      color avellana y una figura voluptuosa. De actitud intrépida y
      extrovertida. Embla viste una media armadura de plasteel adornada con
      runas Vuldrok, sobre vestidos descoloridos pasados de moda desde hace
      siglos (que vinieron con la Casa de la Bruja), y descalza. A sus 27 años,
      es una doncella despreocupada con el alma de una anciana sabia.
    </p>

    <img
      src="/public/Farsantes_y_Ladrones_EMBLA_TROLLKIN_(AGENT).png"
      alt="Embla Trollkin"
    />

    <p class="bg-yellow-100 border border-yellow-300 p-4 rounded-lg">
      Secreto: Romance ilícito con el diácono Soong.
    </p>

    <ul>
      Características:

      <li>Fuerza (Str) 4</li>
      <li>Lógica (Wits) 5</li>
      <li>Presencia (Pre) 7</li>
      <li>Destreza (Dex) 3</li>
      <li>Percepción (Per) 4</li>
      <li>Inteligencia (Int) 8</li>
      <li>Aguante (End) 4</li>
      <li>Voluntad (Will) 4</li>
      <li>Fe (Faith) 8</li>
      <li>Teúrgia (Theurgy) 3</li>
      <li>Hibris (Hubris) 0</li>
    </ul>

    <ul>
      Habilidades:

      <li>Encanto (Charm) 6</li>
      <li>Concentración (Focus) 6</li>
      <li>Empatía (Empathy) 6</li>
      <li>Impresionar (Impress) 5</li>
    </ul>

    <ul>
      Acciones: Impacto del Objetivo

      <li>Hacer amistad (Befriend) 10 | El objetivo es Amigo.</li>
      <li>Ataque con daga (Dagger strike) 9 | 4 de daño</li>
      <li>Engañar (Deceive) 12 | El objetivo es Engañado.</li>
      <li>Suplicar (Entreat) 13 | El objetivo es Suplicado.</li>
      <li>
        Imposición de Manos (Laying on Hands) 10 | Cura 2 de Vitalidad por 1 PV
        (1 por 1 PV en sí mismo).
      </li>
      <li>Sacudirse (Shake it off) 10 | 10 | 14 | Elimina un estado.</li>
    </ul>

    <p>
      Ventajas: Teúrgia: Gjartin (Purificación, Imposición de Manos, Rasgar el
      Velo de la Sinrazón)
    </p>

    <p>
      Estigma: Embla canta sus ritos en una extraña multitud de voces, como un
      coro cantando armonías.
    </p>

    <p>Resistencia: Cuerpo 5 | Mente 2 | Espíritu 0</p>

    <p>Vitalidad: 24</p>

    <p>Impulsos: calificación: 10 | número: 1</p>

    <ul>
      Equipo:

      <li>Media armadura de plasteel</li>
      <li>Daga</li>
      <li>
        Evangelio Omega desgastado con anotaciones Vuldrok (es decir,
        "correcciones")
      </li>
    </ul>
  </article>

  <article id="hermano-soong">
    <h2>Hermano Soong, diácono</h2>

    <p>
      Descripción: Hombre de 23 años. Piel de tono amarillo cálido, con cabello
      negro cortado a tazón y bigote. Es bajo, pero fuerte por el trabajo
      manual. Cuando no lleva su hábito de laico, Soong viste resistentes
      overoles de mezclilla y un delantal de cuero manchado por la jardinería y
      la escultura en madera (que incluye pintura). Su pulgar izquierdo está
      vendado debido a un reciente accidente mientras tallaba madera.
    </p>

    <p>
      Rasgos: Soong permanece mayormente fuera de escena durante el drama. No se
      necesitan rasgos.
    </p>
  </article>

  <article id="sultan-barabbash-melenasangrienta">
    <h2>Sultán Barabbash Melenasangrienta, alias "Gran Inquisidor Vindex"</h2>

    <p>
      Titular • Noble 6 • Colectivo Melena Sangrienta (ex-al-Malik) •
      Pirata/Señor
    </p>

    <p>
      Descripción: Piel y ojos negros, su barba y cabello, habitualmente teñidos
      de rojo con henna, están actualmente afeitados para ajustarse al disfraz
      de Vindex. Un hombre alto y corpulento de unos 60 años, Barabbash impone
      una figura poderosa a pesar de su edad. Viste un mono de seda sintética de
      color verde oscuro, con el logo del equipo de kabaddi "Green Krakens 3821"
      de Acheon grabado en la espalda, bajo pesadas túnicas escarlata de
      Inquisidor.
    </p>

    <p>
      Identidad secreta: Gran Inquisidor Vindex, la Espada de la Fe, un cazador
      de herejes que recorre el borde de los Mundos Conocidos con su séquito
      Avestite. (El verdadero Vindex y sus fanáticos fueron lanzados al espacio
      cerca de Aesir).
    </p>

    <ul>
      Características:

      <li>Fuerza (Str) 7</li>
      <li>Sabiduría (Wis) 4</li>
      <li>Presencia (Pre) 7</li>
      <li>Destreza (Dex) 6</li>
      <li>Percepción (Per) 4</li>
      <li>Inteligencia (Int) 5</li>
      <li>Aguante (End) 7</li>
      <li>Voluntad (Will) 6</li>
      <li>Fe (Faith) 3</li>
    </ul>

    <ul>
      Habilidades:

      <li>Luchar (Fight) 9</li>
      <li>Imponer (Impress) 7</li>
      <li>Pillería (Knavery) 4</li>
      <li>Cuerpo a cuerpo (Melee) 6</li>
      <li>Observar (Observe) 5</li>
      <li>Disparar (Shoot) 6</li>
      <li>Vigor (Vigor) 8</li>
    </ul>

    <ul>
      Acciones: Impacto del Objetivo

      <li>Mando (Command) 14 (Impacto en Objetivo: Comandado)</li>
      <li>Intimidar (Daunt) 14 (Impacto en Objetivo: Intimidado)</li>
      <li>Sacudírselo (Shake it off) 13 | 12 | 9 (Elimina un estado.)</li>
      <li>Disparar pistola láser (Shoot laser pistol) 13 (5 de daño, Láser)</li>
      <li>Estrangular (Strangle) 16 (1 de daño + Inmovilizado)</li>
    </ul>

    <ul>
      Capacidades:

      <li>Saber (Criticorum, Red de Saltos, Hargard)</li>
      <li>Armas cuerpo a cuerpo (Militares)</li>
      <li>Armas a distancia (Armas de energía)</li>
      <li>Operaciones espaciales.</li>
    </ul>

    <ul>
      Ventajas:

      <li>Armado hasta los dientes</li>
      <li>Nacido en el campo de batalla</li>
      <li>
        Fama/Infamia (Colectivo Melena Sangrienta/Viajeros espaciales del
        sistema Hargard)
      </li>
      <li>Red de chismorreos</li>
      <li>Imperioso</li>
      <li>Título noble (Caballero).</li>
    </ul>

    <p>Resistencia: Cuerpo 4 | Mente 2 | Espíritu 2</p>

    <p>Escudo energético (estándar): 5/10 (10 impactos)</p>

    <p>Vitalidad: 27</p>

    <p>Reanimaciones: rating: 11 | número: 2</p>

    <p>Banco: 20</p>

    <p>Oleadas (Surges): rating: 13 | número: 2</p>

    <ul>
      Equipo:

      <li>Traje de seda sintética</li>
      <li>Escudo energético</li>
      <li>Túnicas ignífugas Avestite (descartadas después de Ruthwyck)</li>
      <li>Pistola láser (4 pilas energéticas)</li>
      <li>100 fénix</li>
    </ul>

    <img src="/public/sultan_barabbash.png" alt="Sultán Barabbash" />
  </article>

  <article id="abudjinn-al-malik">
    <h2>Abudjinn al-Malik, alias “Hermano Castites”</h2>

    <p>Agente • Peón 5 • Colectivo Melena Sangrienta • Pirata</p>

    <p>
      Descripción: Abudjinn es un hombre alto y delgado de tez aceitunada, con
      ojos oscuros que brillan extrañamente con una luz verdosa amarillenta.
      Abudjinn luce una sonrisa astuta y se ríe con facilidad de la desgracia
      ajena. Viste túnicas Avestite sobre un mono de seda sintética idéntico al
      de Barabbash y lleva varias pistolas y un estoque con guardamano de cesta.
      Un letrero lacado, que reza sileo (latín eclesiástico para "Soy
      silencioso") en letras doradas, cuelga alrededor de su cuello.
    </p>

    <p>Identidad Secreta: Hermano Castites, el fanático asistente de Vindex.</p>

    <p class="bg-yellow-100 border border-yellow-300 p-4 rounded-lg">
      Pista: Abudjinn solo cumple a medias el voto de silencio de Castites y
      frecuentemente se ríe a carcajadas o susurra al oído de "Vindex". Además,
      sus extraños ojos parecen fuera de lugar para un inquisidor.
    </p>

    <ul>
      Características:

      <li>Fuerza (Str) 5</li>
      <li>Sabiduría (Wis) 4</li>
      <li>Presencia (Pre) 6</li>
      <li>Destreza (Dex) 8</li>
      <li>Percepción (Per) 6</li>
      <li>Inteligencia (Int) 5</li>
      <li>Aguante (End) 6</li>
      <li>Voluntad (Will) 5</li>
      <li>Fe (Faith) 3</li>
      <li>Psi 3 / Impulso (Urge) 2</li>
    </ul>

    <ul>
      Habilidades:

      <li>Luchar (Fight) 4</li>
      <li>Concentración (Focus) 6</li>
      <li>Intrusión (Intrusion) 6</li>
      <li>Pillería (Knavery) 5</li>
      <li>Cuerpo a cuerpo (Melee) 5</li>
      <li>Observar (Observe) 6</li>
      <li>Disparar (Shoot) 8</li>
      <li>Sigilo (Sneak) 4</li>
      <li>Vigor (Vigor) 5</li>
    </ul>

    <ul>
      Acciones: Impacto del Objetivo

      <li>
        Premonición (Premonition) 12 (Impacto en Objetivo: Ventaja de iniciativa
        superior y coste de defensa reducido: +2 Resistencia de Cuerpo o
        Espíritu por cada 1 PV gastado.)
      </li>

      <li>
        Golpe de estoque (Rapier strike) 10 (5 de daño (+1 Resistencia de Cuerpo
        contra ataques cuerpo a cuerpo))
      </li>

      <li>Sacudírselo (Shake it off) 12 | 11 | 9 (Elimina un estado.)</li>

      <li>
        Moldear Sentidos (Shape Senses) 12 (Elige 1 sentido: ignora
        impedimentos.)
      </li>

      <li>Disparar lanzallamas (Shoot flamegun) 18 (5(3) de daño (Llama))</li>

      <li>
        Disparar pistola láser (Shoot laser pistol) 17 (5 de daño (Láser))
      </li>

      <li>Disparar arma de proyectiles (Shoot slug gun) 16 (6 de daño)</li>

      <li>
        Merodear (Skulk) 12 (Resistencia contra detección = 4, +1 por cada 2 PV)
      </li>
    </ul>

    <ul>
      Capacidades:

      <li>Saber (Criticorum, Hargard)</li>
      <li>Armas cuerpo a cuerpo (Militares)</li>
      <li>Reputación profesional (Experto)</li>
      <li>Armas a distancia (Armas de energía)</li>
      <li>Operaciones a bordo.</li>
    </ul>

    <ul>
      Ventajas:

      <li>Ambidiestro</li>
      <li>Nacido en el campo de batalla</li>
      <li>Independiente</li>
      <li>Lucha con dos armas.</li>
    </ul>

    <ul>
      Poderes psíquicos:

      <li>Sexto Sentido (Sentidos Agudos, Visión Sutil, Premonición).</li>
    </ul>

    <p>
      Estigma: Los ojos brillantes de Abudjinn se enciende como grandes
      luciérnagas cuando usa Psi.
    </p>

    <p>Resistencia: Cuerpo 4 | Mente 6 | Espíritu 0</p>

    <p>Escudo energético (estándar): 5/10 (10 impactos)</p>

    <p>Vitalidad: 15</p>

    <p>Oleadas (Surges): rating: 11 | número: 2</p>

    <ul>
      Equipo:

      <li>Traje de seda sintética</li>
      <li>Escudo energético</li>
      <li>Túnicas ignífugas Avestite</li>
      <li>Lanzallamas (descartado después de Ruthwyck)</li>
      <li>Pistola láser (2 pilas energéticas)</li>
      <li>
        3 cargadores automáticos Sumpter Urthquake (2 cargadores de munición
        cada uno)
      </li>
      <li>Estoque con guardamano de cesta</li>
      <li>50 fénix</li>
    </ul>

    <img src="/public/ABUDJINN%20AL-MALIK.png" alt="Abudjinn al-Malik" />
  </article>

  <article id="piratas-melenasangrienta">
    <h2>
      Piratas del Colectivo Melena Sangrienta, alias "Guardias Inquisitoriales"
    </h2>

    <p>
      Descripción: Hombres y mujeres de aspecto duro, delgados y demacrados por
      la difícil vida de pirata espacial. La mitad son antiguos corsarios de
      al-Malik, el resto son yeomen y asaltantes Vuldrok. Mientras están en
      Ruthwyck, actúan tan piadosamente como pueden —cabezas afeitadas o
      peinadas hacia atrás, semblantes sombríos— y visten túnicas Avestite de
      color rojo oscuro sobre una mezcla ecléctica de monos de vuelo, overoles,
      ropa de trabajo y piezas de armadura ligera.
    </p>

    <p>
      Los piratas suman 48 en total, pero solo 12 han acompañado a "Vindex" en
      la misión "Inquisitorial", mientras que 36 permanecen en Villa Celestia.
    </p>

    <p>Identidad secreta: Guardaespaldas Avestite.</p>

    <p class="bg-yellow-100 border border-yellow-300 p-4 rounded-lg">
      Pista: Con solo siete túnicas Avestite disponibles, al menos cinco piratas
      permanecen en la nave de combate en todo momento. Los miembros
      observadores de la compañía podrían notar que las túnicas individuales son
      usadas por diferentes "Avestites" a medida que los piratas rotan quién
      sale al exterior. Además, son ascetas reacios y a muchos les cuesta
      mantener el personaje, especialmente cuando hay bebidas disponibles.
      También, muchos sufren quemaduras como si hubieran sido golpeados
      recientemente por lanzallamas Avestite.
    </p>

    <ul>
      Acciones: Impacto del Objetivo

      <li>Golpe de hacha: 10 (7 de daño)</li>
      <li>Disparar lanzallamas: 14 (5(3) de daño, Llama)</li>
      <li>Disparar pistola láser: 13 (5 de daño, Láser)</li>
      <li>Disparar subfusil: 12 (5 de daño, Culata)</li>
      <li>Disparar revólver Vuldrok: 12 (5 de daño, Inestable)</li>
      <li>Disparar escopeta Vuldrok: 13/12/11 (8/4/1 de daño, Culata)</li>
      <li>
        Persecución/escape en nave estelar: 9 (Solo unos pocos especialistas
        seleccionados pueden realizar esta acción).
      </li>
    </ul>

    <p>Resistencia: Cuerpo 6 | Mente 0 | Espíritu 0</p>

    <p>Vitalidad: 10</p>

    <ul>
      Equipo:

      <li>Cota de malla de plástico</li>
      <li>Espada</li>
      <li>Pistola láser *(1/2)</li>
      <li>Subfusil *(1/2)</li>
      <li>Revólver Vuldrok (1/2)</li>
      <li>Escopeta Vuldrok (1/2)</li>
      <li>Túnicas Ignífugas Avestitas (x7)</li>
      <li>Lanzallamas (como Avestitas)</li>
      <li>3 fénix cada uno</li>
    </ul>

    <img src="/public/colectivo_pirata.png" alt="Colectivo pirata" />
  </article>
</section>
