<section class="prose">
  <article>
    <h1 id="exposition">Exposición</h1>

    <p>
      La piratería espacial, ¡una plaga en la sociedad interestelar! ¡Un azote
      casi imposible de erradicar! La línea entre piratas, corsarios,
      aventureros oportunistas y capitanes espaciales que confiscan recursos
      para sí mismos es borrosa. Sin embargo, lo común a todos ellos es su
      depredación sobre el transporte de carga, la infraestructura y el
      comercio, y su saqueo voluntario de depósitos espaciales, instalaciones
      científicas y asentamientos astrograficos.
    </p>

    <p>
      Los sistemas solares son insondablemente vastos, tan enormes que
      rastrearlos sistemáticamente en busca de amenazas piratas sigue siendo
      impráctico y financieramente prohibitivo incluso para los gobiernos más
      ricos y mejor organizados. En el apogeo de la Segunda República, los
      gobiernos planetarios podían monitorear sin esfuerzo las actividades en su
      espacio, pero incluso sistemas sofisticados como Criticorum y Leagueheim
      carecen ahora de tal infraestructura. Además, los militares y las agencias
      de inteligencia de todas las facciones se oponen a cualquier vigilancia
      civil de sus movimientos y operaciones estelares. Nadie está realmente
      escuchando... al menos no a gran escala y de manera coherente.
    </p>

    <p>
      Los corsarios estelares aparecen y desaparecen a voluntad, atacando
      rápidamente para luego desvanecerse entre los planetas y lunas y
      asteroides y cometas, o incluso simplemente reuniéndose en la vasta
      inmensidad más allá de las rutas espaciales donde nadie puede toparse con
      ellos. Los piratas habitan instalaciones industriales largamente
      olvidadas, estaciones de combustible difuntas e instalaciones científicas
      abandonadas, a menudo con 1000 años o más fuera de circulación, como
      hábitats y bases, y disfrazan sus operaciones con una amplia gama de
      métodos prácticos, tecnológicos y burocráticos.
    </p>

    <p>
      Esto no significa que la vida de un pirata sea fácil. Al contrario, tales
      colonos del vacío carecen de todas las redes de apoyo y comodidades de las
      que dependen las personas civilizadas. No tienen nada a su nombre excepto
      lo que puedan robar, saquear y reutilizar. Afortunado es el pirata que
      puede cultivar vegetales en la lata sin sol donde vive o pollos raros en
      la sala de máquinas de su nave.
    </p>

    <p>
      Algunos piratas espaciales confían en el sigilo para atacar y huir, otros
      en la fuerza para desalentar la resistencia y la retaliación, y otros en
      sobornar a manos corruptas. Los más exitosos, sin embargo, emplean todas
      estas estrategias y más. Una de esas prósperas comunidades piratas es el
      Colectivo Melenablanca del espacio de Hargard, los villanos de este drama.
    </p>
  </article>

  <article id="colectivo-melenablanca">
    <h2>El Colectivo Melenablanca</h2>

    <p>
      En el corazón de esta comunidad pirata se alza el brutal pero carismático
      “Sultán” Barabbash Melenablanca Criticorumiyy, un antiguo corsario de la
      Casa al-Malik que se volvió rebelde después de que su casa se declarara a
      favor de Alexius durante las Guerras del Emperador (4991). Barabbash está
      envuelto en leyenda y misterio; algunos dicen que puede aparecer en
      múltiples lugares a la vez, otros que deambula por la noche eterna del
      espacio con demonios a su lado.
    </p>

    <p>
      En verdad, el colectivo de Barabbash está formado por ex-personal al-Malik
      que lo siguió en la piratería, junto con sus familias, cautivos
      esclavizados (algunos utilizados como personal de trabajo forzoso) y un
      goteo de reclutas locales de Hargard. Él comanda una impresionante, aunque
      irregularmente mantenida, flotilla de naves de guerra (principalmente
      al-Malik) junto con una flota auxiliar de buques comerciales
      (principalmente capturados). Poco se sabe sobre la sede del Colectivo, un
      asentamiento espacial oculto al que se refieren en susurros como Villa
      Celestia.
    </p>

    <p>
      Aunque no es quisquilloso, el Colectivo Melenablanca prefiere los
      objetivos de Hawkwood, al-Malik e Imperiales, y se cree que son aliados de
      los territorios rebeldes de Ostmark en Hargard, donde su botín
      frecuentemente termina en los estantes del ágora. El colectivo es temido
      en todo el espacio de Hargard, e incluso en Leminkainen, por su eficiencia
      brutal, ataques rápidos e inteligencia impecable (una clara indicación de
      que los leales a Melenablanca se han infiltrado en puestos burocráticos
      estratégicos en ambos sistemas).
    </p>

    <p>
      Para presagiar la amenaza, el director de juego podría sembrar sus dramas
      anteriores con rumores del Colectivo Melenablanca. Quizás un PNJ amistoso
      se queja de los ataques corsarios, o un posible empleador menciona la
      pérdida de naves a manos de los Melenablanca.
    </p>
  </article>

  <article id="difraz-inquisitorial">
    <h3>El disfraz inquisitorial</h3>

    <p>
      No hace mucho, se le presentó una oportunidad a Barabbash. A través de los
      rumores renegados, se enteró de un solemne cañonero inquisitorial —el
      Ballista— en ruta hacia el espacio de Hargard, para dispensar la santa
      violencia según lo considerara oportuno su maestro —el Alto Inquisidor
      Vindex. Era una única escolta, navegando audazmente en territorios
      hostiles, repleta de armas y protegida por el miedo y el respeto
      eclesiástico. Una nave así, capaz de ir y venir sin escrutinio oficial,
      sería una cubierta perfecta para los ataques piratas...
    </p>

    <p>
      Los piratas atrajeron al cañonero tripulado por Avestitas a una trampa y,
      con un gran coste de tripulación y naves, capturaron el Ballista en
      perfecto estado de funcionamiento. Todas sus manos supervivientes fueron
      inmediatamente espaciadas y Barabbash se dispuso a saquear las rutas
      espaciales disfrazado de inquisidor. La estrategia resultó muy exitosa. La
      mayoría de los asentamientos y embarcaciones a los que se acercaban se
      sometían voluntariamente a su autoridad religiosa percibida, lo que
      permitió a Barabbash apoderarse de una docena de objetivos sin apenas
      luchar. Para mantener la artimaña, todos los testigos fueron asesinados.
    </p>

    <p>
      Su éxito envalentonó al Colectivo Melenablanca, y la audacia pronto se
      convirtió en sueños de un tesoro perdido.
    </p>
  </article>

  <article id="la-búsqueda-del-tesoro-vuldrok">
    <h3>La búsqueda del tesoro vuldrok</h3>

    <p>
      Todos los piratas conocen la historia del rey saqueador Hrothlac, el
      legendario thane Vuldrok que pilló Leminkainen, Bizancio Secundus y Tethys
      durante años antes de que Vladimir Alecto finalmente uniera la
      civilización contra la amenaza bárbara (4540). Según la leyenda, Hrothlac
      escondió un rescate de emperador en algún lugar del espacio de Hargard,
      sin embargo, innumerables búsquedas de tesoros no han encontrado nada.
    </p>

    <p>
      Sin embargo, hace un mes, el Colectivo Melenablanca atacó una nave
      mercante que se colaba por el espacio de Hargard, transportando
      suministros enlatados, armas de proyectiles y vino de Rávena a la remota
      diócesis de Ruthwyck en las costas occidentales de Dagnir. Barabbash tuvo
      una corazonada: ¿podría ser Ruthwyck una corrupción del nombre
      Hrothlacswick, la supuesta ubicación del tesoro enterrado de Hrothlac?
      Tenía que saberlo.
    </p>

    <p>
      Al llegar a Ruthwyck, los piratas disfrazados de inquisidores se
      dispusieron a conocer sus historias y leyendas; no se decepcionaron. De
      hecho, Hrothlac había establecido una comunidad aquí, solo para que sus
      súbditos la abandonaran después de su muerte. Siglos más tarde, los
      fronterizos Vuldrok repoblaron la zona, nombrándola Ruthwyck, una
      corrupción del nombre original.
    </p>

    <p>
      Cuando el emperador Alexius ganó Jyandhom y partes de Dagnir mediante el
      matrimonio con Freya Eldridsdottir, Ruthwyck fue nombrada diócesis bajo la
      égida del recién establecido Arzobispo de Elfhome, quien a su vez promovió
      al misionero amaltheano, Padre Benedict, para dirigirla.
    </p>

    <p>
      Recientemente, Barabbash y sus corsarios entraron en la catedral de
      Ruthwyck por la noche para interrogar a Benedict sobre el tesoro de
      Hrothlac, pero el pobre obispo murió durante el interrogatorio. (Barabbash
      accidentalmente le aplastó la garganta a Benedict con su mano
      cibernética).
    </p>

    <p>
      Al comienzo del drama, un grupo de solucionadores de problemas externos
      (es decir, la compañía) llega para investigar, mientras los falsos
      inquisidores continúan su búsqueda del tesoro.
    </p>

    <p>
      Otras facciones también están involucradas en Ruthwyck, incluyendo una
      banda de agentes de Killroy (la rama secreta de inteligencia y aplicación
      de la ley de los Charioteers) disfrazados de comerciantes fronterizos,
      investigando usos ilegales de jumpkeys en los reinos de Hargard
      recientemente civilizados. Y finalmente, hay un contingente rebelde de la
      población local Vuldrok en Ruthwyck, liderado por su carismática campeona
      tradicionalista, Embla la Bruja.
    </p>
  </article>

  <article id="entra-la-compañía">
    <h2>Entra la Compañía</h2>

    <p>
      La compañía es enviada a Ruthwyck por su señor/patrón/aliado
      específicamente para investigar el asesinato del obispo Benedict. Su señor
      podría tener lazos políticos con la familia de Benedict (seleccione una
      casa noble menor apropiada) o podrían estar enviando a los PJ para
      solucionar el problema como un favor a algún thane local.
    </p>

    <p>
      Alternativamente, una compañía de la Liga (o sus patrones) podría tener
      intereses en una de las empresas comerciales de la ciudad (ver más abajo)
      o simplemente podrían haber venido a ofrecer sus servicios (contratados).
      Una compañía misionera podría estar cerca del obispado amaltheano, o de
      otros proyectos misioneros en la zona, o quizás el Arzobispo de Elfhome,
      temiendo que una investigación oficial pudiera avivar las tensiones
      locales, ha pedido a la compañía que se encargue de esto como un favor.
    </p>

    <p>
      Sea cual sea la razón, con la Inquisición activa en Ruthwyck, vale la pena
      tener un amortiguador de aventureros (es decir, chivos expiatorios) en el
      lugar, por si acaso.
    </p>
  </article>

  <article
    id="el-tesoro-de-hrothlac"
    class="bg-yellow-100 border border-yellow-300 p-4 rounded-lg"
  >
    <h4>El tesoro de Hrothlac</h4>

    <p>
      El tesoro no se encontrará durante este drama. En cambio, la idea del
      tesoro de Hrothlac está integrada en la trama de nuestra historia para
      añadir contexto y peso a cualquier drama de búsqueda de tesoros que el GM
      desee crear. Narrativamente hablando, un tesoro es tan interesante como
      las leyendas que lo rodean, y al establecerlo en historias no
      relacionadas, los futuros dramas de búsqueda de tesoros se vuelven mucho
      más relevantes para los jugadores. Los personajes Chatarra y Vuldrok, y
      posiblemente otros, ya podrían estar interesados en la leyenda. El
      director de juego puede establecerlo como parte de los antecedentes de los
      personajes.
    </p>
  </article>
</section>
