<nav class="fixed top-0 left-0 h-full p-5 border-r border-gray-200 w-80">
  <ul>
    <li>
      <a href="#exposition">Exposición</a>

      <ul>
        <li class="pl-4">
          <a href="#colectivo-melenablanca">El Colectivo Melenablanca</a>

          <ul>
            <li class="pl-4">
              <a href="#difraz-inquisitorial">El disfraz inquisitorial</a>
            </li>

            <li class="pl-4">
              <a href="#la-búsqueda-del-tesoro-vuldrok"
                >La búsqueda del tesoro vuldrok</a
              >
            </li>
          </ul>
        </li>

        <li class="pl-4">
          <a href="#entra-la-compañía">Entra la Compañía</a>

          <ul>
            <li class="pl-8">
              <a href="#el-tesoro-de-hrothlac">El tesoro de Hrothlac</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#acto-1">Acto 1</a></li>
  </ul>
</nav>
