<nav
  class="fixed top-0 left-0 h-full p-5 border-r border-gray-200 w-80 overflow-y-auto"
>
  <ul>
    <li>
      <a href="#exposition">Exposición</a>

      <ul>
        <li class="pl-4">
          <a href="#colectivo-melenablanca">El Colectivo Melenablanca</a>

          <ul>
            <li class="pl-4">
              <a href="#difraz-inquisitorial">El disfraz inquisitorial</a>
            </li>

            <li class="pl-4">
              <a href="#la-búsqueda-del-tesoro-vuldrok"
                >La búsqueda del tesoro vuldrok</a
              >
            </li>
          </ul>
        </li>

        <li class="pl-4">
          <a href="#entra-la-compañía">Entra la Compañía</a>

          <ul>
            <li class="pl-8">
              <a href="#el-tesoro-de-hrothlac">El tesoro de Hrothlac</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <a href="#acto-1">Acto 1: Sospechas y mentiras</a>
      <ul>
        <li class="pl-4">
          <a href="#escena-1">Escena 1: ¡Bienvenidos a Ruthwyck!</a>
        </li>

        <li class="pl-8">
          <a href="#espaciopuerto">Espaciopuerto</a>
        </li>

        <li class="pl-8">
          <a href="#catedral-de-san-hombor">Catedral de San Hombor</a>
        </li>

        <li class="pl-8">
          <a href="#la-cabaña-de-la-compañía">La cabaña de la compañía</a>
        </li>

        <li class="pl-4">
          <a href="#escena-2">Escena 2: Investigaciones en la Catedral</a>
        </li>

        <li class="pl-8">
          <a href="#el-cuerpo-de-benedicto">El cuerpo de Benedicto</a>
        </li>

        <li class="pl-8">
          <a href="#catedral">Catedral</a>
        </li>

        <li class="pl-12">
          <a href="#informacion-secreta-2">Información secreta</a>
        </li>

        <li class="pl-8">
          <a href="#oficina-de-benedicto">Oficina de Benedicto</a>
        </li>

        <li class="pl-8">
          <a href="#la-casa-de-soong">La casa de Soong</a>
        </li>

        <li class="pl-12">
          <a href="#informacion-secreta-3">Información secreta</a>
        </li>

        <li class="pl-4">
          <a href="#escena-3">Escena 3: Reseñas de la Lonja</a>
        </li>

        <li class="pl-8">
          <a href="#inspección-del-capitán-de-puerto"
            >Inspección del capitán de puerto</a
          >
        </li>

        <li class="pl-8">
          <a href="#garaje-de-naves-espaciales">Garaje de naves espaciales</a>
        </li>

        <li class="pl-8">
          <a href="#tienda-general">Tienda general</a>
        </li>

        <li class="pl-8">
          <a href="#taberna">Taberna</a>
        </li>

        <li class="pl-12">
          <a href="#informacion-secreta-4">Información secreta</a>
        </li>

        <li class="pl-8">
          <a href="#respuestas-gremiales">Respuestas gremiales</a>
        </li>

        <li class="pl-4">
          <a href="#escena-4">Escena 4: Interrogatorios Inquisitoriales</a>
        </li>

        <li class="pl-4">
          <a href="#escena-5">Escena 5: Entrevistas Bárbaras</a>
        </li>

        <li class="pl-4">
          <a href="#escena-6">Escena 6: La Bruja de Jotunwood</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#acto-2">Acto 2: Respuestas</a>

      <li class="pl-4">
        <a href="#escena-7">Escena 7: ¡Saqueado!</a>
      </li>

      <li class="pl-8">
        <a href="#traje-borroso">Traje Borroso</a>
      </li>

      <li class="pl-4">
        <a href="#escena-8">Escena 8: Un Linchamiento</a>
      </li>

      <li class="pl-4">
        <a href="#escena-9">Escena 9: Amante perdido encontrado</a>
      </li>

      <li class="pl-8">
        <a href="#el-relato-de-soong">El Relato de Soong</a>
      </li>

      <li class="pl-4">
        <a href="#escena-10">Escena 10: El Saqueo de Ruthwyck</a>
      </li>

      <li class="pl-8">
        <a href="#piratas-aniquilados"
          >¿Qué pasa si los piratas son aniquilados?</a
        >
      </li>
    </li>

    <li>
      <a href="#acto-3">Acto 3: Confrontación Final</a>

      <li class="pl-4">
        <a href="#escena-11">Escena 11: Alianza Secreta</a>
      </li>

      <li class="pl-8">
        <a href="#el-plan">El Plan</a>
      </li>

      <li class="pl-4">
        <a href="#escena-12">Escena 12: Abordaje</a>
      </li>

      <li class="pl-8">
        <a href="#combate-en-gravedad-cero">Combate en gravedad cero</a>
      </li>

      <li class="pl-4">
        <a href="#escena-13">Escena 13: Batalla de Villa Celestia</a>
      </li>

      <li class="pl-8">
        <a href="#hangar">Descripción del hangar</a>
      </li>

      <li class="pl-8">
        <a href="#pasillos">Descripción de los pasillos</a>
      </li>

      <li class="pl-8">
        <a href="#bloqueando-el-acceso">Bloqueando el acceso</a>
      </li>

      <li class="pl-8">
        <a href="#batalla-espacial">Batalla Espacial</a>
      </li>

      <li class="pl-8">
        <a href="#alarma">Alarma</a>
      </li>
    </li>

    <li>
      <a href="#consecuencias">Consecuencias</a>
    </li>

    <li>
      <a href="#dramatis-personae">Dramatis Personae</a>

      <li class="pl-4">
        <a href="#matre-orisha">Matre Orisha, obispa en funciones</a>
      </li>

      <li class="pl-4">
        <a href="#capitan-contramaestre-uwe-rand"
          >Capitán (Contramaestre) Uwe Rand</a
        >
      </li>

      <li class="pl-4">
        <a href="#aurigas-de-ruthwyck">Aurigas de Ruthwyck</a>
      </li>

      <li class="pl-4">
        <a href="#tecnicos-de-ruthwyck">Técnicos de Ruthwyck</a>
      </li>

      <li class="pl-4">
        <a href="#magdalena-soh">Magdalena Soh</a>
      </li>

      <li class="pl-4">
        <a href="#maurice-vragoleón">Maurice Vragoleón</a>
      </li>

      <li class="pl-4">
        <a href="#habitantes-vuldrok">Habitantes Vuldrok</a>
      </li>

      <li class="pl-4">
        <a href="#embla-trollkin">Embla Trollkin</a>
      </li>

      <li class="pl-4">
        <a href="#hermano-soong">Hermano Soong, diácono</a>
      </li>

      <li class="pl-4">
        <a href="#sultan-barabbash-melenasangrienta"
          >Sultán Barabbash Melenasangrienta, alias "Gran Inquisidor Vindex"</a
        >
      </li>

      <li class="pl-4">
        <a href="#abudjinn-al-malik"
          >Abudjinn al-Malik, alias “Hermano Castites”</a
        >
      </li>

      <li class="pl-4">
        <a href="#piratas-melenasangrienta"
          >Piratas del Colectivo Melena Sangrienta, alias "Guardias
          Inquisitoriales"
        </a>
      </li>
    </li>
  </ul>
</nav>
