---
import "./global.css";
import Header from "../components/header.astro";

const campaigns = [
  {
    title: "Farsantes y Ladrones",
    game: "Fading Suns",
    url: "/campaña/farsantes-y-ladrones",
    description: "Una campaña para Fading Suns",
  }
]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dramas Fading Suns</title>
	</head>
	<body class="px-4">
    <Header />

    <ul>
      {
        campaigns.map((campaign) => (
          <li><a href={campaign.url}>{campaign.title}</a></li>
        ))
      }
    </ul>
	</body>
</html>
