<header class="text-center space-y-4">
  <h1 class="text-4xl font-bold tracking-tight">Biblioteca de Campañas RPG</h1>

  <p class="text-gray-500 max-w-2xl mx-auto text-xl">Descubre y explora campañas épicas de juegos de rol de diferentes sistemas y géneros</p>
</header>
